/***********************************************************************************************/
/* Blockquotes */
/***********************************************************************************************/

blockquote {

  &.post-quote{
      line-height: 20px;
      color: #777;
      padding-top: 10px;
      padding-bottom: 10px;
      @include padding-start(0px);
      @include padding-end(20px);

      @include border-start(5px solid $theme-color);
      position: relative;
      
      &:before {
        content: "";
        font-family: $FontAwesome;
        @include font-size(34,32);
        @include margin-end(20px);
        vertical-align: -0.4em;
        @include float_start();
      }
    
          p {
            @include font-size(18,28);
            font-style: italic;
            @include margin-start(20px);
            margin-bottom: 0;
            overflow: hidden;
      }

      cite {
        display: block;
        @include font-size(12,12);
        color: $body-text-color;
        &:before {
          content: "\2014 \0020";
        }
        a {
          color: $body-text-color;
          &:visited {
            color: $body-text-color;
          }
         }
        }
  }

  &.blog-style{
      background-color: $quote-bg;
      @include border-start(none);
      font-style: italic;
      position: relative;
      text-align: center;
      display: block;
      padding: 60px 35px;

      p,cite{
        position: relative;        
        color: $quote-text-color !important;
        @include font-size(24,28);
        font-weight: 400;
        z-index: 5;
        a{          
          display: inline-block;
          margin-top: 20px;
          color: $quote-text-color;          
        }
      }
      p{
        margin-bottom: 30px;
      }
      cite{
        @include font-size(16,16);
        letter-spacing: 0.05em;
        &:before {
          content: "-";
        }
        &:after {
          content: "-";
        }
      }
    }
}

.small-quote{
    &.blog-style{
      padding: 40px 40px;
        p{
           margin-bottom: 25px;
        }
    }
}  




//custom for iscope style
