{% extends "../layouts/list.html" %}

{% block page_title %}
    {% set title = errorTitle %}
    {% include "../mixins/title-big.html" %}
{% endblock %}

{% block content %}
<div class="page-section-content">
    <div class="container text-center not-found">

        <h6>On a rien trouvé qui ressemble à {{ errorMsg }} :'-(</h6>
        <div class="double-clear"></div>

        <form action="/search" method="get" name="searchForm" class="form-small form search-form">
            <input type="search" placeholder="Rechercher" name="freeTextSearch" />
        </form>

    </div>
</div>
{% endblock %}
