{% extends "../../layouts/list.html" %}

{% block page_title %}
    {% if errorTitle %}
        {% set title = errorTitle %}
    {% else %}
        {% set title = "Ooops" %}
    {% endif %}
    {% include "../mixins/title-big.html" %}
{% endblock %}

{% block content %}
<div class="page-section-content">
    <div class="container text-center not-found">

        <p class="lead">{{ errorMsg }}</p>
        <div class="double-clear"></div>

        <form action="/search" method="get" name="searchForm" class="form-small form search-form">
            <input type="search" placeholder="Rechercher" name="freeTextSearch" />
        </form>

    </div>
</div>
{% endblock %}


