{% extends "templates/layouts/list.html" %}

{% macro blogPost(post) %}
<article role="article" class="post" itemscope itemType="http://schema.org/BlogPosting">

    {% if post.type == 'quote' %}
    <blockquote class="blog-style">
        <div class="topaz-border"></div>
        <p>“{{ post.quote }}”</p>
    </blockquote>
    {% elif post.type == 'medium' %}
    <div class="post-img pad">
        {{ post.medium|safe }}
    </div>
    {% else %}
    <div class="post-img">
        {% if post.type == 'gallery' %}
        <div class="flexslider sample-slide small-control" data-animation="fade" data-loop="true">
            <ul class="slides">
                {% for image in post.images %}
                <li class="slide-item">
                    <div class="flex-img">
                        <img src="{{ image.url }}" />
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% elif post.image.exists %}
        <img src="{{ post._.image.fit(1200,300) }}" alt="Post illustration" />
        {% else %}
        <img src="{{ post.randomPhoto }}" alt="Post illustration" />
        {% endif %}
    </div>
    {% endif %}

    <div class="post-meta box">
        <ul>
            <li class="post-on">{% if post.author %}{{ post.author.name.full }}{% endif %}</li>
            <li>{{ post._.publishedDate.format("Do MMMM YYYY") }}</li>
            {% if post.categories and post.categories.length %}
            <li>
                {% for cat in post.categories %}
                <a href="/blog/{{ cat.key }}">{{ cat.name }}</a>
                {% if loop.index < post.categories.length %}, {% endif %}
                {% endfor %}
            </li>
            {% endif %}
            {% if post.tagsArray and post.tagsArray.length %}
            <li>
                {% for tag in post.tagsArray %}
                <span>{{ tag }}</span>
                {% endfor %}
            </li>
            {% endif %}
        </ul>
    </div>

    <div class="post-content text-start box">

        {% if post.type == 'text' %}
        <h4 itemprop="headline">
            <a data-animated-link="fadeOut" href="/blog/post/{{ post.slug }}">{{ post.title }}</a>
        </h4>
        <p>{{ post.brief|safe }}</p>
        <p class="read-more">
            <a href="/blog/post/{{ post.slug }}">Read more...</a>
        </p>
        {% else %}
        <p>{{ post.caption|safe }}</p>
        <p class="read-more">
            <a href="/blog/post/{{ post.slug }}">Voir en grand</a>
        </p>
        {% endif %}

    </div>
</article>
{% endmacro %}

{% block intro %}
{% set title = ( data.category.name if data.category else "Blog" ) %}
{% include "templates/mixins/big-title.html" %}
{% endblock %}

{% block content %}
<section class="section">
    <div class="page-section-content boxed-blog blog-list">
        <div class="container blog">
            <div class="row">
                <div class="col-sm-8 col-md-9">
                    {% if filters.category and not data.category %}
                        <h3 class="text-muted">Invalid Category.</h3>
                    {% else %}
                        {% if data.posts.results.length %}

                            {% if data.posts.totalPages > 1 %}
                            <h4 class="text-weight-normal">
                            Showing <strong>{{ data.posts.first }}</strong> to <strong>{{ data.posts.last }}</strong> of <strong>{{ data.posts.total }}</strong> posts.
                            </h4>
                            {% else %}
                            <h4 class="text-weight-normal">Showing {{ utils.plural(data.posts.results.length, "* post") }}.</h4>
                            {% endif %}

                            {% for post in data.posts.results %}
                            {{ blogPost(post) }}
                            {% endfor %}

                            {% if data.posts.totalPages > 1 %}
                            <div class="dima-pagination text-center">
                                <ul>
                                    {% if data.posts.previous %}
                                    <li>
                                        <a href="?page=1" data-animated-link="fadeOut">
                                            <span class="fa fa-angle-left"></span>
                                        </a>
                                    </li>
                                    {% else %}
                                    <li class="disabled">
                                        <a href="?page=1" data-animated-link="fadeOut">
                                            <span class="fa fa-angle-left"></span>
                                        </a>
                                    </li>
                                    {% endif %}

                                    {% for p in data.posts.pages %}
                                    {% set class = ( "current-page" if data.posts.currentPage == p else "" ) %}
                                    <li class="{{ class }}">
                                        {% set page = ( (data.posts.totalPages if i else 1) if p == "..." else p ) %}
                                        <a href="?page={{ page }}" data-animated-link="fadeOut">
                                            <span>{{ p }}</span>
                                        </a>
                                    </li>
                                    {% endfor %}

                                    {% if data.posts.next %}
                                    <li>
                                        <a href="?page={{ data.posts.next }}" data-animated-link="fadeOut">
                                            <span>
                                                <i class="fa fa-angle-right"></i>
                                            </span>
                                        </a>
                                    </li>
                                    {% else %}
                                    <li class="disabled">
                                        <a href="?page={{ data.posts.totalPages }}" data-animated-link="fadeOut">
                                            <span>
                                                <i class="fa fa-angle-right"></i>
                                            </span>
                                        </a>
                                    </li>
                                    {% endif %}

                                </ul>
                                {% endif %}
                            </div>
                            {% else %}

                            {% if data.category %}
                                <h3 class="text-muted">There are no posts in the category {{ data.category.name }}.</h3>
                            {% else %}
                                <h3 class="text-muted">There are no posts yet.</h3>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>

                {% if data.categories.length %}
                <div class="col-sm-4 col-md-3">
                    <h4>Categories</h4>
                    <div class="hr-start"><i class="di-separator-s"></i></div>
                    <div class="tag">
                        {% set class = ( "active" if not data.category else "" ) %}

                        <a href="/blog" class="{{ class }} icon tiny button fill" data-animated-link="fadeOut"><i class="fa fa-tag"></i>All Categories</a>

                        {% for cat in data.categories %}
                        {% set class = ( "active" if data.category and data.category.id == cat.id else "" ) %}
                        <a href="/blog/{{ cat.key }}" class="{{ class }} icon tiny button fill" data-animated-link="fadeOut"><i class="fa fa-tag"></i>{{ cat.name }}</a>
                        {% endfor %}

                    </div>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block pinned %}
{% include "templates/mixins/emphase-post.html" %}
{% endblock %}
