{% extends "templates/layouts/list.html" %}

{% import "templates/mixins/post-macro.html" as postHelper %}

{% block intro %}
{% include "templates/mixins/title-quote.html" %}
{% endblock %}

{% block content %}
<section class="section">
    <div class="page-section-content boxed-blog blog-list">
        <div class="container blog">
            {% if filters.category and not data.category %}
                <div class="dima-callout text-center dima-center-full">
                    <h3 class="h-callout">Oops</h3>
                    <p class="p-callout">La catégorie {{ filters.category }} n'existe pas ici :'-(</p>
                    <form action="/search" method="get" class="form-mini form text-center">
                        <div class="field">
                            <input type="search" placeholder="Rechercher" />
                        </div>
                        <button type="submit" class="icon button fill">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
            {% else %}
                {% if data.posts.results.length %}

                    {% for post in data.posts.results %}
                        {{ postHelper.post(post) }}
                    {% endfor %}

                    {% include "templates/mixins/block-pager.html" %}

                {% endif %}
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}

{% block pinned %}
{% endblock %}
