{% extends "../layouts/content.html" %}

{% block page_title %}
    {% set title = "Je réponds à tout le monde" %}
    {% set title_bkg = "/images/frontSlider/2015-07-20-5.jpg" %}
    {% include "../mixins/title-big.html" %}
{% endblock %}

{% block post_content %}
    <div class="main cl_8 first">

        {% if enquirySubmitted %}
            <h3>Merci à vous, surveillez votre boite mail !</h3>

            <div id="contactSuccess" class="dima-alert dima-alert-success fade in hide">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <i class="fa fa-check"></i>
                <h4 class="header-alert">Success</h4>
                <p>Votre message est dans les tuyaux.</p>
            </div>
        {% else %}

            <h5>Envoyer un message</h5>
            <div class="clear"></div>

            {% if validationErrors %}
            <div id="contactError" class="dima-alert dima-alert-error fade in hide">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <i class="fa fa-times "></i>
                <h4 class="header-alert">Oops !</h4>
                <p>Encore un dev qui ne sait pas coder...</p>
            </div>
            {% endif %}

            <form method="post" class="form-small form text-center">
                <input type="hidden" name="action" value="contact" />

                <div class="post di_1_of_2 first">
                    <div class="field {% if validationErrors.name %}error{% endif %}">
                        <input type="text" name="name.full" value="{{ formData["name.full"] }}" placeholder="Name" required />
                    </div>
                </div>
                <div class="post di_1_of_2">
                    <div class="field {% if validationErrors.email %}error{% endif %}">
                        <input type="email" name="email" value="{{ formData.email }}" placeholder="Email" required />
                    </div>
                </div>
                <div class="field {% if validationErrors.message %}error{% endif %}">
                    <textarea name="message" class="textarea" placeholder="Message" rows="4" required>{{ formData.message }}</textarea>
                </div>
                <input type="submit" value="Envoyer" class="no-rounded button small fill" />
            </form>
        {% endif %}
    </div>

    <aside role="complementary" class="main sidebar hidden-tm cl_4">
        <div class="widget">
            <h5 class="widget-title uppercase">Sylvain Artois</h5>
            <div class="widget-content">
                <ul class="with-border featured-posts contact-icon">
                    <li>
                        <i class="fa fa-map-marker "></i>
                        <p>Bluett Avenue, Seaview, Isle of Wight PO34, UK</p>
                    </li>
                    <li>
                        <i class="fa fa-phone"></i>
                        <p>+213 2020 555013</p>
                        <p>+213 7700 900106</p>
                    </li>
                    <li>
                        <i class="fa fa-envelope"></i>
                        <p>Emal1@domain.com</p>
                        <p>Emal2@domain.com</p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="widget">
            <div class="widget-content">
                {% set social_class = "social-media social-big" %}
                {% include "../mixins/block-socialnetwork.html" %}
            </div>
        </div>
    </aside>
{% endblock %}
