{% extends "../layouts/home.html" %}

{% block sections %}
    {% set colors = ['#31312E','#3D3D39','#31312E','#31312E','#3C3C3C','#3D3D39', '#31312E', '#3C3C3C', '#3D3D39'] %}
    {% set bkgImg = ['/images/frontSlider/2015-07-20-1.jpg', '/images/frontSlider/2015-07-20-2.jpg', '/images/frontSlider/2015-07-20-3.jpg', '/images/frontSlider/2015-07-20-5.jpg', '/images/frontSlider/2015-07-20-1.jpg', '/images/frontSlider/2015-07-20-2.jpg', '/images/frontSlider/2015-07-20-3.jpg', '/images/frontSlider/2015-07-20-6.jpg' ] %}

    {% for category in data.postByCategory %}
        <section class="section" style="{% if category.key == "genre" or category.key == "lire" or category.key == "edito" or category.key == "code" %}background: black url('{{ bkgImg[loop.index0] }}') center center / cover no-repeat;{% else %}background-color: {{ colors[loop.index0] }}{% endif %}">
            <div class="page-section-content">
                <div class="container">
                    <h2 class="text-center"><a href="{{ category.url }}">{{ category.name }}</a></h2>
                    <div class="text-center">{{ category.header | safe }}</div>
                    <div class="topaz-line">
                        <i class="di-separator"></i>
                    </div>
                    <div class="container">
                        {% for post in category.posts %}
                            {% set loopIndex = loop.index %}
                            {% set isHome = true %}
                            {% include "./../mixins/post-thumbnail.html" %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    {% endfor %}

{% endblock %}

{% block js %}
    <script src="/js/vendor/system.js"></script>
    <script src="/js/config.js"></script>
    <script>System.import('home.js');</script>
{% endblock %}
