{% extends "templates/layouts/slider.html" %}

{% block slider %}
<div class="tp-banner fullscreenOnePage">
    <ul>

        <li data-transition="random-static" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Intro Slide">
            <img alt="slidebg1" src="/images/dummy.png"
                 data-lazyload="/images/frontSlider/2015-07-20-1.jpg"
                 data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" />
            <h1 class="uppercase undertitle tp-caption skewfromleft customout rs-parallaxlevel-0"
                data-x="center" data-y="center"
                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="530" data-start="700" data-easing="Power3.easeInOut"
                data-elementdelay="0.1" data-endelementdelay="0.1">
                Dye<span class="theme-color"> Pop</span>
            </h1>
            <div class="flex-caption undertitle tp-caption skewfromleft customout rs-parallaxlevel-0"
                 data-x="center" data-y="385"
                 data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                 data-speed="530" data-start="900" data-easing="Power3.easeInOut"
                 data-elementdelay="0.1" data-endelementdelay="0.1">
                <p class="undertitle hide-on-m text-center">Photography - Feminist noveler - Gender studying</p>
            </div>

            <div class="pattern-slider"></div>
        </li>

        <li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Intro Slide">
            <img alt="slidebg2" src="/images/dummy.png"
                 data-lazyload="/images/frontSlider/2015-07-20-2.jpg"
                 data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" />
            <h1 class="uppercase undertitle tp-caption skewfromleft customout rs-parallaxlevel-0"
                data-x="center" data-y="center"
                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="530" data-start="700" data-easing="Power3.easeInOut"
                data-elementdelay="0.1" data-endelementdelay="0.1">
                <span class="theme-color">Sylvain</span> Artois
            </h1>
            <div class="flex-caption undertitle tp-caption skewfromleft customout rs-parallaxlevel-0" data-x="center" data-y="385" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="530" data-start="900" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1">
                <p class="undertitle hide-on-m text-center">Software developer</p>
            </div>
            <div class="pattern-slider"></div>
        </li>

        {#<li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Intro Slide">
            <img alt="slidebg3" src="/images/dummy.png"
                 data-lazyload="/images/frontSlider/2015-07-20-3.jpg"
                 data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" />
            <h1 class="uppercase undertitle tp-caption skewfromleft customout rs-parallaxlevel-0"
                data-x="center" data-y="center"
                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                data-speed="530" data-start="700" data-easing="Power3.easeInOut"
                data-elementdelay="0.1" data-endelementdelay="0.1">
                <span class="theme-color">100%</span> fully responsive
            </h1>
            <div class="flex-caption undertitle tp-caption skewfromleft customout rs-parallaxlevel-0" data-x="center" data-y="385" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="530" data-start="900" data-easing="Power3.easeInOut" data-elementdelay="0.1" data-endelementdelay="0.1">
                <p class="undertitle hide-on-m text-center">Okab is fully responsive on all devices and platforms, perfect solution for users
                    <br>browsing your site on many different devices and browsers</p>
            </div>
            <div class="pattern-slider"></div>
        </li>#}

    </ul>
</div>
{% endblock %}

{% block content %}

    {# Intro quote #}
    <section class="section" id="quote">
        <div class="page-section-content">

            <div class="background-image-hide" style="top:10px;">
                <img class="background-image" alt="Background Image" src="/images/frontSlider/2015-07-20-6.jpg" />
            </div>

            <div class="dima-section-cover"></div>

            <div class="container page-section text-center">
                <div class="topaz-line quote">
                    <i class="fa fa-quote-left"></i>
                </div>
                <div class="di_2_of_3 offset_1_of_6">
                    <div class="owl-carousel">
                        <div class="dima-testimonial quote-style">
                            <blockquote>
                                <p>Ils aiment parler des femmes, les hommes.<br/>Ça leur évite de parler d'eux.</p>
                                <span class="dima-testimonial-meta"><strong>V. D.</strong> - King Kong théorie</span>
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="cl_2"></div>
            </div>
        </div>
    </section>

    {# Last post #}
    <section class="section section-colored" id="blog" data-bg="#3d3d39">
        <div class="page-section-content">
            <div class="container">
                <h2 class="uppercase text-center">Derniers articles</h2>
                <div class="topaz-line">
                    <i class="di-separator"></i>
                </div>
                <div class="clear-section" style="padding-bottom: 0"></div>
                <div class="container">
                    <section class="boxed-blog">
                    {% for post in data.lastposts %}
                        {% include "templates/mixins/post-thumbnail.html" %}
                    {% endfor %}
                    </section>
                </div>
            </div>
        </div>
    </section>

    {# Twitter #}
    <section class="section" id="twitter">
        <div class="page-section-content">
            <div class="background-image-hide">
                <img class="background-image" src="/images/frontSlider/2015-07-20-5.jpg" />
            </div>
            <div class="dima-section-cover"></div>
            <div class="container page-section text-center">
                <div class="topaz-line quote">
                    <i class="fa fa-twitter"></i>
                </div>
                <div class="di_2_of_3 offset_1_of_6">
                    <div id="tweet" data-id="410447789689040896" data-count="1" data-type="quote">
                        <p>Merci de patienter</p>
                    </div>
                </div>
                <div class="cl_2 "></div>
            </div>
        </div>
    </section>

    {# Most read #}
    <section class="section " id="features">
        <div class="page-section-content">
            <div class="container text-center">

                <h2 class="uppercase" data-delay="0">Bienvenue sur Contre-Pensée</h2>
                <div class="topaz-line">
                    <i class="di-separator"></i>
                </div>

                <p data-delay="100">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis
                    <br>bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
                </p>

                <div class="clear-section"></div>

            </div>
        </div>
    </section>

{% endblock %}

{% block js %}
<script src="/js/okab/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
<script src="/js/okab/revolution-slider/js/jquery.themepunch.revolution.js"></script>
{% endblock %}