{% extends "../layouts/content.html" %}

{% block page_title %}
{% set title = "Portfolio" %}
{% include "../mixins/title-big.html" %}
{% endblock %}

{% block content_navigation %}
{% endblock %}

{% block post_content %}
<div class="container text-center ">
    <h2 class="uppercase">Coming soon</h2>

    <div class="topaz-line">
        <i class="di-separator"></i>
    </div>

    <p>We're building a great new portfolio</p>
    <div class="clear-section"></div>

</div>
<div class="clear-section"></div>
{% endblock %}

{% block post_author %}
{% endblock %}

{% block post_related %}
{% endblock %}

{% block post_comment %}
{% endblock %}

{% block js %}
    <script>
        var application = {options: { slide: {owl: true, flex:true}}};
    </script>
{% endblock %}
