{% extends "../layouts/content.html" %}

{% block page_title %}
{% set title = "Portfolio" %}
{% include "../mixins/title-big.html" %}
{% endblock %}

{% block pageclass %} portfolio{% endblock %}

{% block content_navigation %}
{% endblock %}

{% block post_content %}
    <h3 class="text-center">Full portfolio coming-soon</h3>

    <div class="topaz-line">
        <i class="di-separator"></i>
    </div>

    <h2 class="text-center">Photographing fairies</h2>
    <p class="text-center">Entre 2001 et 2006, plus de 70 reportages dans les plus grandes raves d'Europe</p>
    <div class="clear-section"></div>

    {% set looper = [1, 5, 9, 13, 17, 21, 25] %}
    {% set cols = [0, 1, 2, 3] %}

    {% for row in looper %}
        {% for col in cols %}
            {% set currentItem = row+col %}
            <div class=" di_1_of_4{% if loop.first%} first{% endif %}">
                {% if currentItem < 10 %}
                    <p><img src="/images/photographin-faeries/dye-pop_0000{{ currentItem }}.jpg" /></p>
                {% else %}
                    <p><img src="/images/photographin-faeries/dye-pop_000{{ currentItem }}.jpg" /></p>
                {% endif %}
            </div>
        {% endfor %}
        <div class="clear-section"></div>
    {% endfor %}

</div>
<div class="clear-section"></div>
{% endblock %}

{% block post_author %}
{% endblock %}

{% block post_related %}
{% endblock %}

{% block post_comment %}
{% endblock %}

{% block js %}
    <script src="/js/vendor/system.js"></script>
    <script src="/js/config.js"></script>
    <script>System.import('portfolio.js');</script>
{% endblock %}
