{% extends "../layouts/content.html" %}

{% block css %}
    <link rel="stylesheet" href="/css/gallery.css" />
{% endblock %}

{% block page_title %}
{% set title = "Portfolio" %}
{% include "../mixins/title-big.html" %}
{% endblock %}

{% block pageclass %} portfolio{% endblock %}

{% block content_navigation %}
{% endblock %}

{% block post_content %}
    <h2 class="text-center">Early analogs reports</h2>
    <p class="text-center">Between 2002 and 2003, just before the numeric revolution, I shot for <strong>ravest.net</strong>, some major electronic festival.
        <br/>With my <strong>Pentax MZN</strong>, I pushed  <strong>Kodak Ektachrome</strong> iso to the limit to capture a dancing night...
        <br/>Today I search my bags and scan old negatives. Here are some experimentation under Lightroom.
    </p>
    <div class="clear-section"></div>

    <article class="gallery" itemscope itemtype="http://schema.org/ImageGallery">
    {% for rows in data.items %}
        {% for photo in rows %}
            <div class=" di_1_of_4{% if loop.first%} first{% endif %}">
                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="{{ photo.src }}" itemprop="contentUrl" data-size="{{ photo.w }}x{{ photo.h }}">
                        <img src="{{ photo.small }}" itemprop="thumbnail" alt="Dye Pop - Early analogs reports" />
                    </a>
                    <figcaption itemprop="caption description">{{ photo.title }}</figcaption>
                </figure>
            </div>
        {% endfor %}
        <div class="clear-section"></div>
    {% endfor %}
    </article>

    <div class="topaz-line">
        <i class="di-separator"></i>
    </div>

    <h3 class="text-center">Full portfolio coming-soon</h3>

</div>
<div class="clear-section"></div>
{% endblock %}

{% block post_author %}
{% endblock %}

{% block post_related %}
{% endblock %}

{% block post_comment %}
{% endblock %}

{% block js %}
    {% include "../mixins/block-gallery.html" %}

    <script src="/js/vendor/system.js"></script>
    <script src="/js/config.js"></script>
    <script>System.import('portfolio.js');</script>
{% endblock %}
