{% extends "../layouts/content.html" %}

{% import "../mixins/post-macro.html" as postHelper %}
{%  import "../mixins/post-macroShortBox.html" as postHelperBoxed  %}

{% block page_title %}
    {% if data.mainPost.title %}{% set title = data.mainPost.title %}{% else %}{% set title = "Bienvenue" %}{% endif %}
    {% include "../mixins/title-big.html" %}
{% endblock %}

{% block content_navigation %}
<nav role="navigation" class="nav-slit">

    {% if data.nextPost %}
    <a class="prev" href="{{ data.nextPost.url }}">
        <span class="slit-wrap">
            <i class="fa fa-angle-left"></i>
        </span>
        <div>
            {{ postHelperBoxed.shortBoxedPost(data.nextPost) }}
        </div>
    </a>
    {% endif %}

    {% if data.previousPost %}
    <a class="next" href="{{ data.previousPost.url }}">
        <span class="slit-wrap">
            <i class="fa fa-angle-right"></i>
        </span>
        <div>
            {{ postHelperBoxed.shortBoxedPost(data.previousPost) }}
        </div>
    </a>
    {% endif %}

</nav>
{% endblock %}

{% block post_content %}
{{ postHelper.post(data.mainPost, true) }}
{% endblock %}

{% block post_author %}
{% endblock %}

{% block post_related %}
    {% set titleBloc = "Vous aimerez peut-être aussi" %}
    {% set posts     = data.relatedposts %}
    {% include "../mixins/posts-aside.html" %}
{% endblock %}

{% block js %}
<script>var application = {options: { slide: {owl: true, flex:true}}};</script>
{% endblock %}
