{% extends "templates/layouts/content.html" %}

{% import "templates/mixins/post-macro.html" as postHelper %}

{% block page_title %}
{% set title = ( data.post.title if data.post else "Bienvenu" ) %}
{% include "templates/mixins/big-title.html" %}
{% endblock %}

{% block content_navigation %}
<nav role="navigation" class="nav-slit">
    <a data-animated-link="fadeOut" class="prev" href="#">
        <span class="slit-wrap">
            <i class="fa fa-angle-left"></i>
        </span>
        <div>
            <h6>Previous Post</h6>
            <img src="images/posts/next.jpg" alt="Previous thumb">
        </div>
    </a>
    <a data-animated-link="fadeOut" class="next" href="#">
        <span class="slit-wrap">
            <i class="fa fa-angle-right"></i>
        </span>
        <div>
            <h6>Next Post</h6>
            <img src="images/posts/next.jpg" alt="Next thumb">
        </div>
    </a>
</nav>
{% endblock %}

{% block post_content %}
{{ postHelper.post(data.post,full=true) }}
{% endblock %}

{% block post_author %}
{% endblock %}

{% block post_related %}
{% endblock %}

{% block js %}
<script>
    var application = {
        options: { slide: {owl: true, flex:true}}
    };
</script>>
{% endblock %}
