{% extends "../layouts/content.html" %}

{% block page_title %}
{% set title = "Resume" %}
{% include "../mixins/title-big.html" %}
{% endblock %}

{% block content_navigation %}
{% endblock %}

{% block post_content %}

    <h2 class="text-center">My work timeline</h2>
    <div class="double-clear"></div>

    <div class="dima-timeline clearfix dima-timeline-blog boxed-blog blog-list">

        <div class="line"></div>

        <div class="timeline_element-left">

            <div class="timeline_element-content">
                <div class="post">
                    <div class="post-img">
                        <img src="/images/resume/etsy-001.jpg" alt="Etsy brooklyn totem" />
                        <div class="link_overlay">
                            <ul class="icons-media">
                                <li>
                                    <a href="https://www.etsy.com/" target="_blank">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </li>
                            </ul>
                            <span class="topaz-hover"></span>
                        </div>
                    </div>
                    <div class="post-meta box">
                        <ul>
                            <li class="post-on">Senior front-end engineer</li>
                            <li class="post-view"><i class="fa fa-eye"></i>&nbsp;Since January 2014</li>
                        </ul>
                    </div>
                    <div class="post-content box text-start">
                        <h4>
                            <a href="http://www.alittlemarket.com/" target="_blank">Etsy France / Alittlemarket, Paris</a>
                        </h4>
                        <p>Migration of PHP legacy code to <strong>Symfony 2</strong></p>
                        <p>Involvement in the implementation of a virtualized <strong>AWS</strong> architecture</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="timeline_element-right">

            <div class="timeline_element-content">
                <div class="post ">
                    <div class="post-meta box">
                        <ul>
                            <li class="post-on">Analyst Programmer</li>
                            <li class="post-view"><i class="fa fa-eye"></i>&nbsp;From August 2013 to December 2013</li>
                        </ul>
                    </div>
                    <div class="post-content box text-start">
                        <h4>
                            <a href="http://www.actived.fr/" target="_blank">Active developpement, Lyon</a>
                        </h4>
                        <p>Creating a <strong>push messaging</strong> module for an event <strong>Android</strong> application (Urban airship)</p>
                        <p>Writing <strong>Post-Gis</strong> spatial query (Postgresql) for Apple re-seller</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="timeline_element-left">

            <div class="timeline_element-content">
                <div class="post">
                    <div class="post-img">
                        <img src="/images/resume/promotions-leth.jpg" alt="The L&amp;H warehouse with terminals setup" />
                        <div class="link_overlay">
                            <ul class="icons-media">
                                <li>
                                    <a href="http://www.promotionlh.fr/" target="_blank">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </li>
                            </ul>
                            <span class="topaz-hover"></span>
                        </div>
                    </div>
                    <div class="post-meta box">
                        <ul>
                            <li class="post-on">Lead developer</li>
                            <li class="post-view"><i class="fa fa-eye"></i>&nbsp;From April 2012 to June 2013</li>
                        </ul>
                    </div>
                    <div class="post-content box text-start">
                        <h4>
                            <a href="http://www.promotionlh.fr/" target="_blank">Promotions L&amp;H, Lyon</a>
                        </h4>
                        <p>Technical supervision of the creation of 1,000 interactive gaming terminals in 300 supermarkets stores</p>
                        <p>Special code quality requirement, more than 100 000 euros prize gifts</p>
                        <p>Technical management of a developers freelance team (PHP, AS3, C, VB) and help operators<p/>
                    </div>
                </div>
            </div>

        </div>

        <div class="timeline_element-right">

            <div class="timeline_element-content">
                <div class="post">
                    <div class="post-img">
                        <img src="/images/resume/skooliz-001.jpg" alt="Skooliz homepage development" />
                    </div>
                    <div class="post-meta box">
                        <ul>
                            <li class="post-on">Founder developer</li>
                            <li class="post-view"><i class="fa fa-eye"></i>&nbsp;From November 2011 to June 2013</li>
                        </ul>
                    </div>
                    <div class="post-content box text-start">
                        <h4>
                            <a href="#">Skooliz, Lyon</a>
                        </h4>
                        <p>Creating a start-up based on a social mobile application</p>
                        <p>Design and develoment of the application (Android, WebView, HTML5)</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="timeline_element-left">

            <div class="timeline_element-content">
                <div class="post ">
                    <div class="post-img">
                        <img src="/images/resume/tanukis-001.jpg" alt="Tanukis homepage" />
                    </div>
                    <div class="post-meta box">
                        <ul>
                            <li class="post-on">Web developer</li>
                            <li class="post-view"><i class="fa fa-eye"></i>&nbsp;From January 2009 to April 2012</li>
                        </ul>
                    </div>
                    <div class="post-content box text-start">
                        <h4>
                            <a href="#">Les Tanukis, Lyon</a>
                        </h4>
                        <p>PHP / Javascript / AS3</p>
                        <p>Streetama Java REST API / Android / PostgreSQL</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock %}

{% block post_author %}
{% endblock %}

{% block post_related %}
{% endblock %}

{% block post_comment %}
{% endblock %}

{% block js %}
    {% include "../mixins/block-javascript.html" %}
    <script>var application = {options: { slide: {owl: true, flex:true}}};</script>
    <script src="/js/main.js?4"></script>
{% endblock %}
