{% extends "../layouts/content.html" %}

{% block page_title %}
{% set title = "Resume" %}
{% include "../mixins/title-big.html" %}
{% endblock %}

{% block content_navigation %}
{% endblock %}

{% block post_content %}

    <h2 class="text-center">My work timeline</h2>
    <div class="double-clear"></div>

    <div class="dima-timeline clearfix dima-timeline-blog boxed-blog blog-list">

        <div class="line"></div>

        <div class="timeline_element-left">

            <div class="timeline_element-content">
                <div class="post">
                    {#<div class="post-img">
                        <img src="images/posts/post-list-1.jpg" alt="Brand Consulting">
                        <div class="link_overlay">
                            <ul class="icons-media">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </li>
                            </ul>
                            <span class="topaz-hover"></span>
                        </div>
                    </div>#}
                    <div class="post-meta box">
                        <ul>
                            <li class="post-on">Senior front-end engenieur</li>
                            <li class="post-view"><i class="fa fa-eye"></i>Since 2014-01</li>
                        </ul>
                    </div>
                    <div class="post-content box text-start">
                        <h4>
                            <a href="#">Etsy France / Alittlemarket</a>
                        </h4>
                        <p>Participation à la conception et au refactoring d'un framework propriétaire vers Symfony 2.0</p>
                        <p>Migration d'une architecture Linux répliquée vers une architecture virtualisée AWS</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="timeline_element-right">

            <div class="timeline_element-content">
                <div class="post ">
                    {#<div class="post-img">
                        <img src="images/posts/post-list-1.jpg" alt="Brand Consulting">
                        <div class="link_overlay">
                            <ul class="icons-media">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </li>
                            </ul>
                            <span class="topaz-hover"></span>
                        </div>
                    </div>#}
                    <div class="post-meta box">
                        <ul>
                            <li class="post-on">Analyste</li>
                            <li class="post-view"><i class="fa fa-eye"></i>2013-08 to 2013-12</li>
                        </ul>
                    </div>
                    <div class="post-content box text-start">
                        <h4>
                            <a href="#">Active developement, Lyon</a>
                        </h4>
                        <p>Creation d'un module de messagerie push pour une application android evementielle</p>
                        <p>Ecriture de requete spatiale PostgreSQL Gis pour Apple</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="timeline_element-left">

            <div class="timeline_element-content">
                <div class="post">
                    {#<div class="post-img">
                        <img src="images/posts/post-list-1.jpg" alt="Brand Consulting">
                        <div class="link_overlay">
                            <ul class="icons-media">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </li>
                            </ul>
                            <span class="topaz-hover"></span>
                        </div>
                    </div>#}
                    <div class="post-meta box">
                        <ul>
                            <li class="post-on">Lead-developper</li>
                            <li class="post-view"><i class="fa fa-eye"></i>2012-04 - 2013-06</li>
                        </ul>
                    </div>
                    <div class="post-content box text-start">
                        <h4>
                            <a href="#">Promotions L&H</a>
                        </h4>
                        <p>Envoie dans 300 magasins de la grande distribution de 1000 bornes de jeu interactive</p>
                        <p>Effort particulier de qualité du code, plus de 100 000e de lots distribués</p>
                        <p>Management technique d'une équipe de développeurs free-lance (PHP, AS3, C, VB) et technicien support<p/>
                    </div>
                </div>
            </div>

        </div>

        <div class="timeline_element-right">

            <div class="timeline_element-content">
                <div class="post">
                    {#<div class="post-img">
                        <img src="images/posts/post-list-1.jpg" alt="Brand Consulting">
                        <div class="link_overlay">
                            <ul class="icons-media">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </li>
                            </ul>
                            <span class="topaz-hover"></span>
                        </div>
                    </div>#}
                    <div class="post-meta box">
                        <ul>
                            <li class="post-on">Technicien fondateur</li>
                            <li class="post-view"><i class="fa fa-eye"></i>2011-11 - 2013-08</li>
                        </ul>
                    </div>
                    <div class="post-content box text-start">
                        <h4>
                            <a href="#">Skooliz, Lyon</a>
                        </h4>
                        <p>Creation d'une start-up reposant sur une application mobile sociale</p>
                        <p>Conception de l'application (Android, Webview, HTML5)</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="timeline_element-left">

            <div class="timeline_element-content">
                <div class="post ">
                    {#<div class="post-img">
                        <img src="images/posts/post-list-1.jpg" alt="Brand Consulting">
                        <div class="link_overlay">
                            <ul class="icons-media">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-link"></i>
                                    </a>
                                </li>
                            </ul>
                            <span class="topaz-hover"></span>
                        </div>
                    </div>#}
                    <div class="post-meta box">
                        <ul>
                            <li class="post-on">Développeur web</li>
                            <li class="post-view"><i class="fa fa-eye"></i>2009-01 - 2012-04</li>
                        </ul>
                    </div>
                    <div class="post-content box text-start">
                        <h4>
                            <a href="#">LesTanukis, Lyon</a>
                        </h4>
                        <p>PHP / Javascript / AS3</p>
                        <p>Streetama API REST Java / Android / PostgreSQL</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
{% endblock %}

{% block post_author %}
{% endblock %}

{% block post_related %}
{% endblock %}

{% block post_comment %}
{% endblock %}

{% block js %}
    {% include "../mixins/block-javascript.html" %}
    <script>var application = {options: { slide: {owl: true, flex:true}}};</script>
    <script src="/js/main.js?4"></script>
{% endblock %}
