{% extends "templates/layouts/content.html" %}

{% block page_title %}
{% set title = "Resume" %}
{% include "templates/mixins/big-title.html" %}
{% endblock %}

{% block content_navigation %}
{% endblock %}

{% block post_content %}
<div class="container text-center ">
    <h2 class="uppercase">Coming soon</h2>

    <div class="topaz-line">
        <i class="di-separator"></i>
    </div>

    <p>We're building a great new resume</p>
    <div class="clear-section"></div>

    <!-- CIRCLE (1) -->
    <div class=" di_1_of_4 first ">
        <div class="circular-bar">
            <input type="text" class="dial" data-fgColor="#ff5733" data-width="200" data-height="200" value="90">
            <div class="circular-bar-content">
                <label></label>
            </div>
            <strong>Planning</strong>
        </div>
    </div>
    <!-- CIRCLE (1) -->

    <!-- CIRCLE (2) -->
    <div class=" di_1_of_4 ">
        <div class="circular-bar">
            <input type="text" class="dial" data-fgColor="#ff5733" data-width="200" data-height="200" value="85">
            <div class="circular-bar-content">
                <label></label>
            </div>
            <strong>Design</strong>
        </div>
    </div>
    <!-- CIRCLE (2) -->

    <!-- CIRCLE (3) -->
    <div class=" di_1_of_4 ">
        <div class="circular-bar">
            <input type="text" class="dial" data-fgColor="#ff5733" data-width="200" data-height="200" value="87">
            <div class="circular-bar-content">
                <label></label>
            </div>
            <strong>Development</strong>
        </div>
    </div>
    <!-- CIRCLE (3) -->

    <!-- CIRCLE (4) -->
    <div class=" di_1_of_4 ">
        <div class="circular-bar">
            <input type="text" class="dial" data-fgColor="#ff5733" data-width="200" data-height="200" value="100">
            <div class="circular-bar-content">
                <label></label>
            </div>
            <strong>Delight</strong>
        </div>
    </div>
    <!-- CIRCLE (4) -->

</div>
<div class="clear-section"></div>
{% endblock %}

{% block post_author %}
{% endblock %}

{% block post_related %}
{% endblock %}

{% block post_comment %}
{% endblock %}

{% block js %}
    <script>
        var application = {options: { slide: {owl: true, flex:true}}};
    </script>
{% endblock %}
