{% extends "templates/layouts/list.html" %}

{% import "templates/mixins/post-macro.html" as postHelper %}

{% block intro %}
{% include "templates/mixins/beautifull-quote.html" %}
{% endblock %}

{% block content %}
<section class="section">
    <div class="page-section-content boxed-blog blog-list">
        <div class="container blog">
            <div class="row">
                <div class="col-sm-8 col-md-9">

                    {% if data.posts.length %}

                    {% for post in data.posts %}
                    {{ postHelper.post(post) }}
                    {% endfor %}

                    {% else %}
                    <h1>Pas de résultats</h1>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block pinned %}
{% include "templates/mixins/emphase-post.html" %}
{% endblock %}
