/*******************/
/*   Accordion     */
/*******************/
li{

&.dima-accordion-group{

  &.dima-style{
    margin-bottom: 10px;
    border-bottom: 1px solid $border-color;
    .dima-accordion-header {
      .dima-accordion-toggle{
        &:before {
          font-family: "fontawesome";
          content: "\f068";
          @include float-end();
          @include transform(rotate(0deg));
          @include margin-end(0px);
        }
        &.collapsed{
        &:before {
          color: $tab-nav-color;
          content: "\f067";
          @include float-end();
          @include margin-end(0px);
        }
      }
      }
    }
  }

	border: 1px solid $border-color;
  border-bottom: none;
	.dima-accordion-header {
    overflow: hidden;
	  border-bottom: 0;

      
	 .dima-accordion-toggle{
		  display: block;
		  padding:20px 30px;
      font-family: $font-family-headings;
      @include font-size(14,16);
      font-weight: 600;
		  color: #fff;
      background: $theme-color;
      @include transition(all .25s ease-in);
      @include text-align-start();

		  &:before {
      		font-family: "fontawesome";
      		content: "\f054";
      		position: relative;
      		display: inline-block;
      		@include margin-end(15px);
          color: #fff;      		
          @include transition(all .25s ease-in);
      		@include transform(rotate(90deg));
      }

      &.collapsed{
        background-color: $tab-nav-bg;
        color: $tab-nav-color;
        &:before {
          color: $tab-nav-color;
          @if($global-direction == "rtl"){
            content: "\f053";
          }@else{
            content: "\f054";
          }
      		
        	@include transform(rotate(0deg));
          @include float-start();
        }
      }
	  }
	}

	.dima-accordion-content{
		&.collapse{
			position: relative;
			height: 0;
			overflow: hidden;
			@include transition(all .25s ease-in);
			&.in {
			height: auto;
			}
			
		}
		.dima-accordion-inner {
			padding: 18px 30px;
			border-top: 1px solid $border-color;
			background-color: white;
			-webkit-box-shadow: none;
			box-shadow: none;
		}
	}
  .collapsing{
	     position:relative;
	     height:0;
	     overflow:hidden;
	     @include transition(all .25s ease-in);
  }
  &:last-child{
      border-bottom:  1px solid $border-color;
      margin-bottom: 30px;
    }
}
    
}
