
/***********************************************************************************************/
/* Pagination*/
/***********************************************************************************************/

.dima-pagination{
	position: relative;

	ul {
		padding: 0;
		list-style: none;
		display: inline-block;
	  li {
		margin: 0;
		padding: 0;
		display: inline-block;
		position: relative;
			a {
				@include font-size(13,30);
				margin: 0 2px;
				padding: 0 11px;
				@include float_start();
				//width: 32px;
				height: 32px;
				text-align: center;
				font-weight: 400;
				text-decoration: none;
				color: $body-text-color;
				background-color:$section-bg-color;
				@include transition(all .2s ease-in);
				border:1px solid $border-color;
				&:hover{
					background: $theme-color;
				  border:1px solid $theme-color;
				  color: #FFFFFF;
				}	
			}

	   &:last-child{
	  	span{
	  		&:before{
	  			font-family: $FontAwesome;
	  			@if($global-direction == "ltr"){
	  				content: '\f105';
	  			}@else{
	  				content: '\f104';
	  			}
	  			
	  		}
	  	}
	  }
	  }
	  
	}

	.current-page {
		display: inline-block;
		@include text_align_start();
		margin: 0 2px;
    font-weight: bold;
		color: white;
		background-color: $theme-color;
		border:1px solid $theme-color;

	}

}