/***********************************************************************************************/
/* Timeline*/
/***********************************************************************************************/

.dima-timeline {
    position: relative;
    margin: 0px auto;
    margin-bottom: 10px;
    .line {
        @extend .H-line;
    }
    .post {
        margin-bottom: 10px;
    }
    .timeline_element-left {
        position: relative;
        @include float-start();
        @include clear-start();
        width: 100%;
        .post {
            @include margin-end(100px);
        }
        .date {
            position: absolute;
            top: 50%;
            margin-top: -22px;
            @include start(50%);
            @include margin-start(25px);
        }
    }
    .timeline_element-right {
        position: relative;
        @include float-end();
        @include clear-end();
        width: 100%;
        .timeline_element-content {
            &:before {
                @include start(50%);
                top: 50%;
            }
        }
        .post {
            @include margin-start(100px);
        }
        .date {
            position: absolute;
            top: 50%;
            margin-top: -22px;
            @include end(50%);
            @include margin-end(25px);
        }
    }
    .timeline_element-content {
        float: inherit;
        margin: 10px 60px;
        width: 50%;
        &:after, &:before {
            content: '';
            position: absolute;
            display: block;
            background: $body-bg-color;
            top: 50%;
            @include end(50%);
            @include transition(all .2s ease-in);
        }
        &:after {
            width: 14px;
            height: 14px;
            border: 1px solid $border-color;
            margin-right: -7px;
            margin-left: -7px;
            margin-top: -20px;
        }
        &:before {
            content: '';
            position: absolute;
            display: block;
            width: 20px;
            height: 30px;
            margin-top: -27px;
            margin-right: -10px;
            margin-left: -10px;
        }
        &:hover {
            &:after {
                background: $theme-color !important;
                border-color: rgba(0, 0, 0, 0);
            }
            h5 {
                a, i {
                    color: $theme-color;
                }
            }
        }
    }
    // Blog Style
    &.dima-timeline-blog {
        .timeline_element-right {
            margin-top: 100px;
            width: 50%;
            .post {
                @include margin-start(30px);
                &:before {
                    content: '';
                    position: absolute;
                    display: block;
                    width: 30px;
                    height: 0px;
                    border-top: 1px solid #dfdfdf;
                    @include start(0);
                    top: 28px;
                }
            }
            .timeline_element-content {
                position: relative;
                &:after, &:before {
                    @include start(0);
                }
            }
        }
        .timeline_element-left {
            width: 50%;
            .post {
                @include margin-end(30px);
                &:before {
                    content: '';
                    position: absolute;
                    display: block;
                    width: 30px;
                    height: 0px;
                    border-top: 1px solid #dfdfdf;
                    @include end(0);
                    top: 28px;
                }
            }
            .timeline_element-content {
                position: relative;
                &:after, &:before {
                    @include end(0);
                }
            }
        }
        .timeline_element-content {
            margin: 10px 0px;
            width: 100%;
            &:after, &:before {
                content: '';
                position: absolute;
                display: block;
                background: $body-bg-color;
                top: 40px;
            }
            &:after {
                width: 14px;
                height: 14px;
                border: 1px solid $border-color;
                @include margin-end(-7px);
                @include margin-start(-7px);
            }
            &:before {
                content: '';
                position: absolute;
                display: block;
                width: 20px;
                height: 30px;
                @include margin-end(-7px);
                @include margin-start(-7px);
            }
            &:hover {
                &:after {
                    background: $theme-color;
                    border-color: rgba(0, 0, 0, 0);
                }
            }
        }
    }
}
.dima-timeline-list {
    li {
        margin-bottom: 70px;
        i{
            background: $body-bg-color;
        }
        
        &:before {
            content: '';
            @include border-start(1px solid $border-color);
            @include start(62.5px);
            position: absolute;
            width: 100%;
            height: 100%;
            padding-top: 125px;
        }
        &:last-child {
            margin-bottom: 0px;
            &:before {
                height: 0%;
            }
        }
    }
}
.H-line {
    @include start(50%);
    @include margin-start(-2px);
    position: absolute;
    top: 0px;
    bottom: 100%;
    @include border-start(1px solid $border-color);
    height: 100%;
    &:after, &:before {
        content: "";
        width: 5px;
        height: 5px;
        position: absolute;
        background: $border-color;
    }
    &:before {
        top: -5px;
        @include start(-3px)
    }
    &:after {
        bottom: -5px;
        @include start(-3px)
    }
}
