<header role="banner">
    <div class="dima-navbar-wrap">
        <div class="dima-navbar fix-one fix_nav fixed">
            <div class="clearfix dima-nav-fixed"></div>
            <div class="relative full-wrapper">

                <div class="logo">
                    <h1>
                        <a href="/" title="Contre Pensées" style="font-family: 'Gruppo', cursive;">
                            <span>Contre Pensées</span>
                        </a>
                    </h1>
                </div>

                <a class="dima-btn-nav" href="#">
                    <i class="fa fa-bars"></i>
                </a>

                <nav role="navigation" class="clearfix">
                    <ul class="dima-nav sf-menu">

                        <li data-nav="home" class="{% if 'home' == section %}current{% endif %}">
                            <a href="/"><i class="fa fa-home"></i></a>
                        </li>

                        <li data-nav="search" class="search-btn">
                            <a href="#"><i class="fa fa-search"></i></a>
                        </li>

                        {% for link in navLinks %}
                        <li class="{% if link.key == section %}current{% endif %}">
                            <a href="{{ link.href }}">{{ link.label }}</a>
                        </li>
                        {% endfor %}

                    </ul>
                </nav>
            </div>
            <div id="search-box">
                <div class="container">
                    <form action="/search" method="get" name="searchForm">
                        <input type="search" placeholder="Rechercher" name="freeTextSearch" />
                    </form>
                    <div id="close">
                        <a href="#">
                            <i class="di-close"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="dima"></div>
    </div>
</header>
