<ul class="inline clearfix {{ social_class if social_class else "" }}">
  <li>
    <a target="_blank" href="http://dye-pop.com"><i class="fa fa-tumblr"></i></a>
  </li>
  <li>
    <a target="_blank" href="https://twitter.com/dye_pop"><i class="fa fa-twitter"></i></a>
  </li>
  <li>
    <a target="_blank" href="https://www.facebook.com/dye.pop"><i class="fa fa-facebook"></i></a>
  </li>
  <li>
    <a target="_blank" href="https://instagram.com/dye.pop"><i class="fa fa-instagram"></i></a>
  </li>
  <li class="mfp-hide">
    <a target="_blank" href="https://plus.google.com/b/118286041093311636817/+D-popCo/about"><i class="fa fa-google-plus"></i></a>
  </li>
</ul>