{% set isProd = data.env == 'production' %}

<script src="/js/vendor/jquery.{% if isProd %}min.{% endif %}js"></script>
<script src="/js/vendor/jquery.themepunch.min.js"></script>
{% if isProd %}
<script src="/js/vendor/jquery-plugin-easing-superfish.min.js"></script>
<script src="/js/vendor/sly-perfectScrollbar-magnificPopup.min.js"></script>
<script src="/js/vendor/jqueryInstagram-twitterFetcher.min.js"></script>
<script src="/js/vendor/owlCarousel-jqueryFlexslider.min.js"></script>
{% else %}
<script src="/js/vendor/jquery.easing.js"></script>
<script src="/js/vendor/superfish.js"></script>
<script src="/js/vendor/sly.js"></script>
<script src="/js/vendor/perfect-scrollbar.js"></script>
<script src="/js/vendor/jquery.magnific-popup.js"></script>
<script src="/js/vendor/instagram.js"></script>
<script src="/js/vendor/twitterFetcher.js"></script>
<script src="/js/vendor/owl.carousel.js"></script>
<script src="/js/vendor/jquery.flexslider.js"></script>
{% endif %}
