<div class="container page-section text-center">

    <div class="social-media dima-social-footer social-medium">
        <ul class="inline whait-border clearfix">
            <li>
                <a data-animated-link="fadeOut" href="http://dye-pop.com/">
                    <i class="fa fa-tumblr"></i>
                </a>
            </li>
            <li>
                <a data-animated-link="fadeOut" href="https://www.facebook.com/dye.pop">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li>
                <a data-animated-link="fadeOut" href="https://twitter.com/dye_pop">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li><a data-animated-link="fadeOut" href="https://fr.pinterest.com/DyePop/">
                <i class="fa fa-pinterest"></i>
            </a>
            </li>
            <li>
                <a data-animated-link="fadeOut" href="https://instagram.com/dye.pop/">
                    <i class="fa fa-instagram"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="double-clear"></div>

    <div class="copyright undertitle">
        <p class="undertitle ">&copy; 2015 Okab. Created by
            <a data-animated-link="fadeOut" href="http://themeforest.net/user/PixelDima" target="_blank">PixelDima</a>
        </p>
    </div>

</div>