{% import "../mixins/post-macroShortBox.html" as postHelperBoxed %}

<div class=" di_1_of_4 first widget">
    <h5 class="widget-titel uppercase">à propos</h5>
    <div class="widget-content">
        <p>Contre-Pensées c'est le blog de Sylvain Artois, et son avatar arty, Dye Pop</p>
    </div>
    <div class="double-clear"></div>

    <div class="widget-content">
        <div class="dima-social-footer social-media social-medium">
            {% include "../mixins/block-socialnetwork.html" %}
        </div>
    </div>
</div>

<div class=" di_1_of_4 widget">
    <h5 class="widget-titel uppercase">Featured posts</h5>
    <div class="widget-content">
        <ul class="with-border featured-posts">
            {% for post in pinnedPosts %}
            <li>
                {{ postHelperBoxed.shortBoxedPost(post) }}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<div class=" di_1_of_4 widget ">
    <h5 class="widget-titel uppercase">Contacts</h5>
    <div class="widget-content">
        <ul class="with-border featured-posts contact-icon">
            <li>
                <i class="fa fa-map-marker"></i>
                <p>Paris, France</p>
            </li>
            <li>
                <i class="fa fa-at"></i>
                <p>sylvain.artois@gmail.com</p>
            </li>
            <li>
                <i class="fa fa-envelope"></i>
                <p>dye.pop@contrepensees.fr</p>
                <p>sylvaina@alittlemarket.fr</p>
            </li>
        </ul>
    </div>
</div>

<div class=" di_1_of_4 widget">
    <h5 class="widget-titel uppercase">Instagram</h5>
    <div class="widget-content">
        <div class="dima-instagram" data-limit="3" data-userid="200297639" data-accesstoken="03e6606740944d10868cb97c39fbc802">
            <!-- INSTANSIVE WIDGET -->
            <script src="//instansive.com/widget/js/instansive.js"></script>
            <iframe src="//instansive.com/widgets/01d2d26a05f68b14f17c59afc75e0c5d5362e2a3.html" id="instansive_01d2d26a05" name="instansive_01d2d26a05"  scrolling="no" allowtransparency="true" class="instansive-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
        </div>
    </div>
</div>
