{% set isProd = locals.data.env == 'production' %}

<script src="/vendor/jquery.{% if isProd %}min.{% endif %}js"></script>
<script src="/vendor/jquery.themepunch.min.js"></script>
{% if isProd %}
<script src="/vendor/jquery-plugin-easing-superfish.min.js"></script>
<script src="/vendor/sly-perfectScrollbar-magnificPopup.min.js"></script>
<script src="/vendor/jqueryInstagram-twitterFetcher.min.js"></script>
<script src="/vendor/owlCarousel-jqueryFlexslider.min.js"></script>
{% else %}
<script src="/vendor/jquery.easing.js"></script>
<script src="/vendor/superfish.js"></script>
<script src="/vendor/sly.js"></script>
<script src="/vendor/perfect-scrollbar.js"></script>
<script src="/vendor/jquery.magnific-popup.js"></script>
<script src="/vendor/instagram.js"></script>
<script src="/vendor/twitterFetcher.js"></script>
<script src="/vendor/owl.carousel.js"></script>
<script src="/vendor/jquery.flexslider.js"></script>
{% endif %}
