
<section class="section " id="features">
    <div class="page-section-content">
        <div class="container text-center">

            <h2 class="uppercase" data-delay="0">Bienvenue sur Contre-Pensée</h2>
            <div class="topaz-line">
                <i class="di-separator"></i>
            </div>

            <p data-delay="100">Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis
                <br>bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
            </p>

            <div class="clear-section"></div>

        </div>
    </div>
</section>
