{% macro boxedPost(post, isInLoop, index) %}
    <article role="article" class="related-entry{% if isInLoop %} di_1_of_4{% endif %}{% if index == 1 %} first{% endif %}">
        <div class="related-entry-media">
            {% if post.type == 'quote' %}
                <a href="{{ post.url }}">
                    {{ post.quote |striptags|truncate(70) }} ...
                </a>
            {% elif post.type == 'medium' %}
                <a href="{{ post.url }}">
                    {{ post.captionText |truncate(70) }} ...
                </a>
            {% elif post.type == 'photo' %}
                <a href="{{ post.url }}">
                    <img src="{{ post._.image.fill(200, 200, { 'gravity': 'face:center' }) }}" />
                </a>
            {% elif post.type == 'gallery' %}
                <a href="{{ post.url }}">
                    {% for image in post.images %}
                        {% if loop.index <= 2 %}
                            <div class="di_1_of_2 {% if loop.first %}first{% endif %}">
                                <img src="{{ image.fill(100, 100, { 'gravity': 'face:center' }) }}" />
                            </div>
                        {% endif %}
                    {% endfor %}
                </a>
            {% else %}
                <a href="{{ post.url }}">
                    {{ post.title }}
                </a>
            {% endif %}
        </div>
        <div class="related-entry-content">
            <div class="related-entry-title">
                <h6><a href="{{ post.url }}">{{ post.type }}</a></h6>
                <p>
                    {% if post.categories and post.categories.length %}
                        {% for cat in post.categories %}
                            <a href="{{ cat.url }}">{{ cat.name }}</a>
                            {% if loop.index < post.categories.length %}, {% endif %}
                        {% endfor %}
                    {% endif %}
                </p>
                <p>
                    {% if post.tagsArray and post.tagsArray.length %}
                        {% for tag in post.tagsArray %}
                            <span class="label" style="color: #5e5d57;">
                                <i class="fa fa-tag"></i>&nbsp;{{ tag }}
                            </span>
                        {% endfor %}
                    {% endif %}
                </p>
            </div>
        </div>
    </article>
{% endmacro %}
