{% macro shortBoxedPost(post) %}
    <h6 class="uppercase">{{ post.type }}</h6>

    {% if post.type == 'quote' %}
        <p style="padding: 0.5em">{{ post.quoteText| truncate(150) }}</p>
    {% elif post.type == 'medium' %}
        <p style="padding: 0.5em">{{ post.captionText | truncate(150) }}</p>
    {% elif post.type == 'photo' %}
        <img src="{{ post._.image.fill(200, 142, { 'gravity': 'face:center' }) }}">
    {% elif post.type == 'gallery' %}
        {% for image in post.images %}
            {% if loop.first %}
                <img src="{{ image.fill(200, 142, { 'gravity': 'face:center' }) }}">
            {% endif %}
        {% endfor %}
    {% else %}
        <p style="padding: 0.5em">{{ post.title }}</p>
    {% endif %}

{% endmacro %}
