{% macro shortBoxedPost(post) %}
    <h6 class="uppercase">{{ post.type }}</h6>

    {% if post.type == 'quote' %}
        <p>{{ post.quote|striptags|truncate(150) }}</p>
    {% elif post.type == 'medium' %}
        <p>{{ post.captionText | truncate(150) }}</p>
    {% elif post.type == 'photo' %}
        <img src="{{ post._.image.fill(200, 100, { 'gravity': 'face:center' }) }}" />
    {% elif post.type == 'gallery' %}
        {% for image in post.images %}
            {% if loop.index == 1 %}
                <img src="{{ image.fill(200, 100, { 'gravity': 'face:center' }) }}" />
            {% endif %}
        {% endfor %}
    {% else %}
        <p>{{ post.title }}</p>
    {% endif %}

{% endmacro %}
