<div class="di_1_of_4 first">
    <h5 class="dima-author-name">
        <a data-animated-link="fadeOut" href="">{{ post.author.name.full }}</a>
    </h5>
    <p>
        <img src="{{ post.author._.avatar.fit(50,50) }}" style="width: auto" />
    </p>
</div>
<div class="di_3_of_4">
    <p>{{ post._.publishedDate.format("Do MMM YYYY") }}</p>
    <ul class="inline">
        {% if post.categories and post.categories.length %}
        <li>
            {% for cat in post.categories %}
                {% if cat.name == "Software" %}
                    <a href="/sylvain-artois/{{ cat.key }}">{{ cat.name }}</a>
                {% else %}
                    <a href="/dye-pop/{{ cat.key }}">{{ cat.name }}</a>
                {% endif %}
            {% if loop.index < post.categories.length %}, {% endif %}
            {% endfor %}
        </li>
        {% endif %}
    </ul>
    <ul class="inline">
        {% if post.tagsArray and post.tagsArray.length %}
        <li>
            {% for tag in post.tagsArray %}
            <span class="label" style="margin-right: 0.32rem; display: inline-block; margin-bottom: 0.32rem; line-height: inherit; color: #5e5d57;">
                <i class="fa fa-tag"></i>&nbsp;{{ tag }}
            </span>
            {% endfor %}
        </li>
        {% endif %}
    </ul>
</div>