<aside class="section section-colored">
    <div class="page-section-content">
        <div class="container">
            <h2 class="uppercase text-center">{{ titleBloc }}</h2>
            <div class="topaz-line">
                <i class="di-separator"></i>
            </div>
            <div class="clear-section"></div>
            <div class="container">
                <section class="boxed-blog">
                    {% for post in posts %}
                        {% set loopIndex = loop.index %}
                        {% include "./post-thumbnail.html" %}
                    {% endfor %}
                </section>
            </div>
        </div>
    </div>
</aside>
