<section class="dima-author-box box clearfix">
    <div class="dima-about-image overlay">
        <a  href="author.html">
            <img src="images/posts/author.jpg" alt="">
        </a>
    </div>

    <div class="dima-author-info">
        <h5 class="dima-author-name"><a  href="author.html">RICHARD ROGERS</a></h5>
        <p>Lorem Ipsum. psum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit.</p>

        <div class="social-media dima-social-author social-small">
            <ul class="inline clearfix">
                <li>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </li>
            </ul>
        </div>
    </div>
</section>