{% macro post(post, full=false) %}
<article role="article" class="post" itemscope itemType="http://schema.org/BlogPosting">
    {% if post.type == 'quote' %}
    {{ quote(post,full) }}
    {% elif post.type == 'medium' %}
    {{ medium(post,full) }}
    {% elif post.type == 'photo' %}
    {{ photo(post,full) }}
    {% elif post.type == 'gallery' %}
    {{ gallery(post,full) }}
    {% else %}
    {{ text(post,full) }}
    {% endif %}
</article>
{% endmacro %}

{####################################
 # quote
 #}
{% macro quote(post, full = false) %}
<blockquote class="blog-style">
    <div class="topaz-border"></div>
    <p>{{ post.quote }}</p>
    {% if post.writer %}
    <cite>
        <a data-animated-link="fadeOut" href="">{{ post.writer }}</a>
    </cite>
    {% endif %}
</blockquote>
<div class="post-meta box">
    <ul>
        <li class="post-on">Posted by Admin on 09 Sept 2014</li>
        <li class="post-view"><i class="fa fa-eye"></i> 122 Views</li>
        <li class="post-comments"><i class="fa fa-comments"></i> 12 Comments</li>
    </ul>
</div>
{% if full %}
<div class="post-content box">

    {% if post.caption %}
    {{ post.caption }}
    {% endif %}

    {{ socialShare(instagram=false) }}

</div>
{% endif %}
{% endmacro %}

{####################################
 # medium
 #}
{% macro medium(post, full=false) %}
<div class="post-img pad">
    {{ post.medium|safe }}
</div>
<div class="post-meta box">
    <ul>
        <li class="post-on">Posted by Admin on 09 Sept 2014</li>
        <li class="post-view"><i class="fa fa-eye"></i> 122 Views</li>
        <li class="post-comments"><i class="fa fa-comments"></i> 12 Comments</li>
    </ul>
</div>
{% if full %}
<div class="post-content box">

    {% if post.caption %}
    {{ post.caption }}
    {% endif %}

    {{ socialShare(instagram=false) }}
</div>
{% endif %}
{% endmacro %}

{####################################
 # photo
 #}
{% macro photo(post, full=false) %}
<div class="post-img">
    {% if full %}
    <img src="{{ post._.image.fit(1200) }}" alt="{{ post.tags }}" />
    {% else %}
    <img src="{{ post._.image.fill(1200,300, { 'gravity': 'face' }) }}" alt="{{ post.tags }}" />
    <div class="link_overlay">
        <ul class="icons-media">
            <li>
                <a href="{{ post.url }}">
                    <i class="fa fa-link"></i>
                </a>
            </li>
        </ul>
        <span class="topaz-hover"></span>
    </div>
    {% endif %}
</div>
<div class="post-meta box">
    <ul>
        <li class="post-on">Posted by Admin on 09 Sept 2014</li>
        <li class="post-view"><i class="fa fa-eye"></i> 122 Views</li>
        <li class="post-comments"><i class="fa fa-comments"></i> 12 Comments</li>
    </ul>
</div>
{% if full %}
<div class="post-content box">

    {% if post.caption %}
    {{ post.caption }}
    {% endif %}

    {{ socialShare() }}
</div>
{% endif %}
{% endmacro %}

{####################################
 # gallery
 #}
{% macro gallery(post, full=false) %}
{% for image in post.images %}
{% if loop.first %}
<div class="post-img">
    {% if full %}
    <div class="flexslider sample-slide small-control" data-animation="fade" data-loop="true">
        <ul class="slides">
            {% for image in post.images %}
            <li class="slide-item">
                <div class="flex-img">
                    <img src="{{ image.url }}" />
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% else %}
    <img src="{{ image.fill(1200,300, { 'gravity': 'face' }) }}" alt="{{ post.tags }}" />
    <div class="link_overlay">
        <ul class="icons-media">
            <li>
                <a href="{{ post.url }}">
                    <i class="fa fa-link"></i>
                </a>
            </li>
        </ul>
        <span class="topaz-hover"></span>
    </div>
    {% endif %}
</div>
{% endif %}
{% endfor %}
<div class="post-meta box">
    <ul>
        <li class="post-on">Posted by Admin on 09 Sept 2014</li>
        <li class="post-view"><i class="fa fa-eye"></i> 122 Views</li>
        <li class="post-comments"><i class="fa fa-comments"></i> 12 Comments</li>
    </ul>
</div>
{% if full %}
<div class="post-content box">

    {% if post.caption %}
    {{ post.caption }}
    {% endif %}

    {{ socialShare() }}
</div>
{% endif %}
{% endmacro %}

{####################################
 # text
 #}
{% macro text(post, full=false) %}
{% if post.image.exists %}
<div class="post-img">
    <img src="{{ post._.image.fill(1200,300, { 'gravity': 'face' }) }}" alt="{{ post.tags }}" />
    <div class="link_overlay">
        <ul class="icons-media">
            <li>
                <a href="{{ post.url }}">
                    <i class="fa fa-link"></i>
                </a>
            </li>
        </ul>
        <span class="topaz-hover"></span>
    </div>
</div>
{% endif %}
<div class="post-meta box">
    <ul>
        <li class="post-on">Posted by Admin on 09 Sept 2014</li>
        <li class="post-view"><i class="fa fa-eye"></i> 122 Views</li>
        <li class="post-comments"><i class="fa fa-comments"></i> 12 Comments</li>
    </ul>
</div>
<div class="post-content text-start box">
    <h4 itemprop="headline">
        <a href="{{ post.url }}">{{ post.title }}</a>
    </h4>
    <p>{{ post.brief|safe }}</p>

    {% if full %}
    {{ post.content|safe }}
    {{ socialShare() }}
    {% endif %}
</div>
{% endmacro %}

{####################################
 # socialShare
 #}
{% macro socialShare(instagram=true)%}
<div class="social-media dima-social-post social-medium">
    <ul class="inline clearfix">
        <li>
            <a data-animated-link="fadeOut" href="#"><i class="fa fa-facebook"></i></a>
        </li>
        <li>
            <a data-animated-link="fadeOut" href="#"><i class="fa fa-twitter"></i></a>
        </li>
        <li>
            <a data-animated-link="fadeOut" href="#"><i class="fa fa-pinterest"></i></a>
        </li>
        <li>
            <a data-animated-link="fadeOut" href="#"><i class="fa fa-google-plus"></i></a>
        </li>
        {% if instagram %}
        <li>
            <a data-animated-link="fadeOut" href="#"><i class="fa fa-instagram"></i></a>
        </li>
        {% endif %}
        <li>
            <a data-animated-link="fadeOut" href="#"><i class="fa fa-tumblr"></i></a>
        </li>

    </ul>
</div>
{% endmacro %}
