<div class="container">
    <div class="di_1_of_3 first no-bottom-margin">
        <div class="copyright dima-center-full">
            <p>&copy; 2015 Sylvain Artois. Base theme by <a data-animated-link="fadeOut" href="http://www.PixelDima.com">PixelDima</a></p>
        </div>
    </div>
    <div class="di_2_of_3 hidden-tm">
        <ul class="dima-menu">
            {% for link in navLinks %}
            <li class="{{ 'active' if link.key == section else '' }}">
                <a data-animated-link="fadeOut" href="{{ link.href }}">{{ link.label }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
