{# Twitter #}
<section class="section" id="twitter">
    <div class="page-section-content">
        <div class="background-image-hide">
            <img class="background-image" src="/images/frontSlider/2015-07-20-5.jpg" />
        </div>
        <div class="dima-section-cover"></div>
        <div class="container page-section text-center">
            <div class="topaz-line quote">
                <i class="fa fa-twitter"></i>
            </div>
            <div class="di_2_of_3 offset_1_of_6">
                <div id="tweet" data-id="410447789689040896" data-count="1" data-type="quote">
                    <p>Merci de patienter</p>
                </div>
            </div>
            <div class="cl_2 "></div>
        </div>
    </div>
</section>
