{# Intro quote #}
<section class="section" id="quote">
    <div class="page-section-content">

        <div class="background-image-hide" style="top:10px;">
            <img class="background-image" alt="Background Image" src="/images/frontSlider/2015-07-20-6.jpg" />
        </div>

        <div class="dima-section-cover"></div>

        <div class="container page-section text-center">
            <div class="topaz-line quote">
                <i class="fa fa-quote-left"></i>
            </div>
            <div class="di_2_of_3 offset_1_of_6">
                <div class="owl-carousel">
                    <div class="dima-testimonial quote-style">
                        <blockquote>
                            <p>Ils aiment parler des femmes, les hommes.<br/>Ça leur évite de parler d'eux.</p>
                            <span class="dima-testimonial-meta"><strong>V. D.</strong> - King Kong théorie</span>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="cl_2"></div>
        </div>
    </div>
</section>
