<section class="title_container">
    <div class="page-section-content">
        <div class="background-image-hide parallax-background">
            <img class="background-image blur" alt="Background Image" src="{{ title_bkg|default('/images/frontSlider/2015-07-20-7.jpg') }}" />
        </div>
        <div class="container page-section text-center">
            <h1 class="undertitle shadowText">{{ title }}</h1>
            <div class="topaz-line">
                <i class="di-separator"></i>
            </div>
        </div>
    </div>
</section>
