<!-- ABOUT US WIDGET -->
<div class=" di_1_of_4 first widget">
    <h5 class="widget-titel uppercase">à propos</h5>
    <div class="widget-content">
        <p>Contre-Pensées c'est le blog de Sylvain Artois, et son avatar arty, Dye Pop</p>
    </div>
    <div class="double-clear"></div>

    <div class="widget-content">
        <div class="dima-social-footer social-media social-medium">
            <ul class="inline clearfix">
                <li>
                    <a data-animated-link="fadeOut" target="_blank" href="http://dye-pop.com"><i class="fa fa-tumblr"></i></a>
                </li>
                <li>
                    <a data-animated-link="fadeOut" target="_blank" href="https://twitter.com/dye_pop"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a data-animated-link="fadeOut" target="_blank" href="https://www.facebook.com/dye.pop"><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                    <a data-animated-link="fadeOut" target="_blank" href="https://instagram.com/dye.pop"><i class="fa fa-instagram"></i></a>
                </li>
                <li class="mfp-hide">
                    <a data-animated-link="fadeOut" target="_blank" href="https://plus.google.com/b/118286041093311636817/+D-popCo/about"><i class="fa fa-google-plus"></i></a>
                </li>

            </ul>
        </div>
    </div>
</div>
<!--! ABOUT US WIDGET -->

<!-- FEATURED POSTS WIDGET -->
<div class=" di_1_of_4 widget">
    <h5 class="widget-titel uppercase">Featured posts</h5>
    <div class="widget-content">
        <ul class="with-border featured-posts">
            <li>
                <a data-animated-link="fadeOut" href="#">
                    <h6 class="uppercase">The psychology of branding</h6>
                </a>
                <span>By Admin / 09 Sept 2014</span>
            </li>
            <li>
                <a data-animated-link="fadeOut" href="#">
                    <h6 class="uppercase">The psychology of branding</h6>
                </a>
                <span>By Admin / 09 Sept 2014</span>
            </li>
            <li>
                <a data-animated-link="fadeOut" href="#">
                    <h6 class="uppercase">The psychology of branding</h6>
                </a>
                <span>By Admin / 09 Sept 2014</span>
            </li>
        </ul>
    </div>
</div>

<div class=" di_1_of_4 widget ">
    <h5 class="widget-titel uppercase">Contacts</h5>
    <div class="widget-content">
        <ul class="with-border featured-posts contact-icon">
            <li>
                <i class="fa fa-map-marker"></i>
                <p>Paris, France</p>
            </li>
            <li>
                <i class="fa fa-at"></i>
                <p>sylvain.artois@gmail.com</p>
            </li>
            <li>
                <i class="fa fa-envelope"></i>
                <p>dye.pop@contrepensees.fr</p>
                <p>sylvaina@alittlemarket.fr</p>
            </li>
        </ul>
    </div>
</div>

<div class=" di_1_of_4 widget">
    <h5 class="widget-titel uppercase">Instagram</h5>
    <div class="widget-content">
        <div class="dima-instagram" data-limit="3" data-userId="200297639" data-accessToken="03e6606740944d10868cb97c39fbc802"></div>
    </div>
</div>
