<!-- ABOUT US WIDGET -->
<div class=" di_1_of_4 first widget">
    <h5 class="widget-titel uppercase">about us</h5>
    <div class="widget-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non,est, nemo quo odio dignissimos deserunt ipsa molestiae fugiat cumque sequi.</p>
    </div>
    <div class="double-clear"></div>

    <div class="widget-content">
        <div class="dima-social-footer social-media social-medium">
            <ul class="inline clearfix">
                <li><a data-animated-link="fadeOut" href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li><a data-animated-link="fadeOut" href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li><a data-animated-link="fadeOut" href="#"><i class="fa fa-google-plus"></i></a>
                </li>
                <li><a data-animated-link="fadeOut" href="#"><i class="fa fa-instagram"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--! ABOUT US WIDGET -->

<!-- FEATURED POSTS WIDGET -->
<div class=" di_1_of_4 widget">
    <h5 class="widget-titel uppercase">Featured posts</h5>
    <div class="widget-content">
        <ul class="with-border featured-posts">
            <li>
                <a data-animated-link="fadeOut" href="#">
                    <h6 class="uppercase">The psychology of branding</h6>
                </a>
                <span>By Admin / 09 Sept 2014</span>
            </li>
            <li>
                <a data-animated-link="fadeOut" href="#">
                    <h6 class="uppercase">The psychology of branding</h6>
                </a>
                <span>By Admin / 09 Sept 2014</span>
            </li>
            <li>
                <a data-animated-link="fadeOut" href="#">
                    <h6 class="uppercase">The psychology of branding</h6>
                </a>
                <span>By Admin / 09 Sept 2014</span>
            </li>
        </ul>
    </div>
</div>
<!--! FEATURED POSTS WIDGET -->

<!-- CONTACT US WIDGET -->
<div class=" di_1_of_4 widget ">
    <h5 class="widget-titel uppercase">Contact us</h5>
    <div class="widget-content">
        <ul class="with-border featured-posts contact-icon">
            <li>
                <i class="fa fa-map-marker "></i>
                <p>Bluett Avenue, Seaview, Isle of Wight PO34, UK</p>
            </li>
            <li>
                <i class="fa fa-phone"></i>
                <p>+213 2020 555013</p>
                <p>+213 7700 900106</p>
            </li>
            <li>
                <i class="fa fa-envelope"></i>
                <p>Emal1@domain.com</p>
                <p>Emal2@domain.com</p>
            </li>
        </ul>
    </div>
</div>
<!--! CONTACT US WIDGET -->

<!-- FLICKR WIDGET -->
<div class=" di_1_of_4 widget ">
    <h5 class="widget-titel uppercase">flickr</h5>
    <div class="widget-content">
        <ul class="flkr-cont" data-limit="6" data-id="125167502@N02">
        </ul>
    </div>
</div>
<!--! FLICKR WIDGET -->
