/***********************************************************************************************/
/* DropCap */
/***********************************************************************************************/


.dropcap {
    display: block;
    @include float_start();    
    @include margin-end(15px);
    width: 50px;
    height: 50px;
    font-family: Georgia;

  &.dropcap-1 {
    background: transparent;
    text-align: center;
    border: 1px solid transparent;
    @include font-size(70,70);    
    color: $theme-color;
 }
   &.dropcap-2 {  
    position: relative;  
    top: 5px;
    background: $theme-color;
    color: #fff;
    border-radius: 25px;
    text-align: center;
    border: 1px solid transparent;
    @include font-size(30,45);
 }

 &.dropcap-3 {  
    position: relative; 
    top: 5px; 
    background: $theme-color;
    color: #fff;
    text-align: center;
    border: 1px solid transparent;
    @include font-size(30,45);
 }
} 
