{% import "templates/mixins/flash-messages.html" as FM %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ title|default("Contre Pensées") }}</title>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:100,400,600,700,300" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic" rel="stylesheet" type="text/css">

    {# Customise the stylesheet for your site by editing /public/styles/site.sass #}
	<link href="/styles/styles-blog-two-dark.css" rel="stylesheet">

    {# This file provides the default styling for the KeystoneJS Content Editor #}
    {% if user and user.canAccessKeystone %}
    <link href="/keystone/styles/content/editor.min.css" rel="stylesheet">
    {% endif %}

    {# HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
        Safely remove this block if you are not targeting IE8 #}
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->

    {# Include template-specific stylesheets by extending the css block #}
    {% block css %}{% endblock %}

    {# Add any other template-specific HEAD tags by extending the head block #}
    {% block head %}{% endblock %}
</head>
<body class="responsive " id="demo-blog-two">

    <!-- Dima-loading -->
    <div class="dima-loading">
        <span class="loading-top"></span>
        <span class="loading-bottom"></span>
        <span class="spin-2"><p>LOADING</p></span>
        <a href="#" class="load-close">X</a>
    </div>
    <!--! Dima-loading -->

    {# HEADER #}
    <header role="banner">
        <div class="dima-navbar-wrap">
            <div class="dima-navbar dima-navbar-top">

                <!-- LOGO -->
                <div class="logo">
                    <h1>
                        <a data-animated-link="fadeOut" href="demo-blog-two.html" title="PixelDima.com logo">
                            <span class="vertical-middle"></span>
                            <img src="/images/logo_blog_2_dark.png" alt="PixelDima Logo" title="PixelDima">
                        </a>
                    </h1>
                </div>
                <!--! LOGO -->

                <!-- MENU -->
                <nav role="navigation" class="clearfix">
                    <div class="container">
                        <!-- NAVBAR BUTTON -->
                        <a class="dima-btn-nav" href="#"><i class="fa fa-bars"></i></a>
                        <!--! NAVBAR BUTTON -->

                        <ul class="dima-nav sf-menu">
                            {% for link in navLinks %}
                            <li class="{{ 'active' if link.key == section else '' }}">
                                <a href="{{ link.href }}">{{ link.label }}</a>
                            </li>
                            {% endfor %}
                            {% if user %}
                            {% if user.canAccessKeystone %}
                            <li><a href="/keystone">Open Keystone</a></li>
                            {% endif %}
                            <li><a href="/keystone/signout">Sign Out</a></li>
                            {% else %}
                            <li><a href="/keystone/signin">Sign In</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
                <!--! MENU -->

                <!-- SEARCH BOX -->
                <div id="search-box">
                    <div class="container">
                        <form>
                            <input type="text" placeholder="Start Typing...">
                        </form>
                        <div id="close">
                            <a data-animated-link="fadeOut" href="#">
                                <i class="di-close"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!--! SEARCH BOX -->
                <div class="dima"></div>
            </div>
        </div>
    </header>
    <!--! HEADER -->

    {# BODY #}
    <div id="body">
			{# NOTE:
			   There is no .container wrapping class around body blocks to allow more flexibility in design.
			   Remember to include it in your templates when you override the intro and content blocks! #}

			{# The Intro block appears above flash messages (used for temporary information display) #}
			{% block intro %}{% endblock %}

			{# Flash messages allow you to display once-off status messages to users, e.g. form
			   validation errors, success messages, etc. #}
			{{ FM.flashMessages(messages) }}

			{# The content block should contain the body of your template"s content #}
			{% block content %}{% endblock %}
    </div>

    {# FOOTER #}
    <footer role="contentinfo" class="top-footer landing-footer">
        <div class="container page-section text-center">

            <!-- SOCIAL ICONS -->
            <div class="social-media dima-social-footer social-medium">
                <ul class="inline whait-border clearfix">
                    <li><a data-animated-link="fadeOut" href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a data-animated-link="fadeOut" href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a data-animated-link="fadeOut" href="#"><i class="fa fa-google-plus"></i></a>
                    </li>
                    <li><a data-animated-link="fadeOut" href="#"><i class="fa fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
            <!--! SOCIAL ICONS -->

            <div class="double-clear"></div>

            <!-- COPYRIGHT -->
            <div class="copyright undertitle ">
                <p class="undertitle ">© 2015 Okab. Created by
                    <a data-animated-link="fadeOut" href="http://themeforest.net/user/PixelDima" target="_blank">PixelDima</a>
                </p>
            </div>
            <!--! COPYRIGHT -->

        </div>
    </footer>

    {# JAVASCRIPT #}
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/js/okab/core/load.js"></script>
    <script src="/js/okab/core/jquery.easing.1.3.js"></script>
    <script src="/js/okab/core/modernizr-2.8.2.min.js"></script>
    <script src="/js/okab/core/imagesloaded.pkgd.min.js"></script>
    <script src="/js/okab/core/respond.src.js"></script>

    <script src="/js/okab/libs.min.js"></script>

    {# Include template-specific javascript files by extending the js block #}
    {% block js %}{% endblock %}
</body>
</html>
