<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ title|default("Contre Pensées") }}</title>

    {% import "templates/mixins/flash-messages.html" as FM %}

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:100,400,600,700,300" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic" rel="stylesheet" />

    <link href="/css/front.css" rel="stylesheet" />

    {% block css %}{% endblock %}

    {% if user and user.canAccessKeystone %}{# default styling for the KeystoneJS Content Editor #}
    <link href="/keystone/styles/content/editor.min.css" rel="stylesheet" />
    {% endif %}

    {% block head %}{% endblock %}

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->

</head>
<body class="responsive " id="demo-blog-two">

    {% include "templates/mixins/loader.html" %}

    <header role="banner">
        {% include "templates/mixins/header-menu.html" %}
    </header>

    <div id="body">

        {% block intro %}{% endblock %}
        {{ FM.flashMessages(messages) }}

        {% block content %}{% endblock %}
    </div>

    {# FOOTER #}
    <footer role="contentinfo" class="top-footer landing-footer">
        {% include "templates/mixins/footer.html" %}
    </footer>

    {# JAVASCRIPT #}
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/js/okab/core/load.js"></script>
    <script src="/js/okab/core/jquery.easing.1.3.js"></script>
    <script src="/js/okab/core/modernizr-2.8.2.min.js"></script>
    <script src="/js/okab/core/imagesloaded.pkgd.min.js"></script>
    <script src="/js/okab/core/respond.src.js"></script>
    <script src="/js/okab/libs.min.js"></script>

    {% block js %}{% endblock %}
</body>
</html>
