<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    {% block head %}{% endblock %}
    {% include "../mixins/block-head.html" %}
    {% block css %}{% endblock %}
</head>
<body class="responsive">
    <div class="all_content">

        {% include "../mixins/block-navbar.html" %}

        <div class="tp-banner-container">
            {% block slider %}{% endblock %}
        </div>

        <div class="dima-main" style="margin-top: 100px;">
            {% block sections %}{% endblock %}
        </div>

        <footer role="contentinfo" class="dima-footer">
            <div class="container">
                {% include "../mixins/footer-second.html" %}
            </div>
        </footer>

    </div>

    {% block js %}
        {% include "../mixins/block-tracking-ga.html" %}
        {% include "../mixins/block-javascript.html" %}
        <script src="/js/main.js?4"></script>
    {% endblock %}
</body>
</html>
