<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ title|default("Contre Pensées") }}</title>

    {% import "templates/mixins/flash-messages.html" as FM %}

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,400,600,700,300" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Gruppo' rel='stylesheet' />

    <link href="/css/front.css" rel="stylesheet" />
    <link href="/js/okab/revolution-slider/css/settings.css" rel="stylesheet" />

    {% block css %}{% endblock %}

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->

    <script src="/vendor/modernizr/dist/modernizr-build.js"></script>

    {% block head %}{% endblock %}
</head>
<body class="responsive">
    <div class="all_content">

        {% include "templates/mixins/fullwidth-navbar.html" %}

        <div class="tp-banner-container">
            {% block slider %}{% endblock %}
        </div>

    </div>

    <script src="/vendor/jquery/dist/jquery.js"></script>
    <script src="/vendor/jquery.easing/js/jquery.easing.js"></script>
    <script src="/vendor/superfish/dist/js/superfish.js"></script>
    <script src="/js/okab/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
    <script src="/js/okab/revolution-slider/js/jquery.themepunch.revolution.js"></script>
    <script>
        var application = {
            options: {
                slide: {
                    revolution: true
                }
            }
        };
    </script>
    <script src="/js/okab/main.js"></script>
</body>
</html>
