<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ title|default("Contre Pensées") }}</title>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:100,400,600,700,300" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gruppo" />

    <link rel="stylesheet" href="/css/front.css" />
    <link rel="stylesheet" href="/vendor/settings.css" />

    {% block css %}{% endblock %}

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->

    <script src="/vendor/{% if locals.data.env == 'production' %}modernizr.min.js{% else %}modernizr-build.js{% endif %}"></script>

    {% block head %}{% endblock %}
</head>
<body class="responsive">
    <div class="all_content">

        {% include "templates/mixins/block-navbar.html" %}

        <div class="dima-main">

            <section class="section">
                    {% block intro %}{% endblock %}
                    {% block content %}{% endblock %}
            </section>

        </div>

        <div class="top-footer">
            <div class="container">
                {% include "templates/mixins/footer-top.html" %}
            </div>
        </div>

        <footer role="contentinfo" class="dima-footer">
            <div class="container">
                {% include "templates/mixins/footer-second.html" %}
            </div>
        </footer>
    </div>

    {% include "templates/mixins/block-javascript.html" %}

    {% block js %}
    <script>var application = {options: { slide: {owl: true}}};</script>
    {% endblock %}
    <script src="/js/main.js?time=256747936"></script>
</body>
</html>
