/*******************/
/*     FONTS       */
/*******************/

//For RTL
//$font-family-base: "Droid Arabic Naskh", Helvetica, Arial, sans-serif;
//$font-family-headings: "Droid Arabic Kufi", Helvetica, Georgia, Times, serif;


$font-family-base: "Raleway", Helvetica, Arial, sans-serif;
$font-family-headings: "Lobster", Helvetica, Georgia, Times, serif;
$FontAwesome: "FontAwesome";
$dimaIcon: "Dima-Icons";

/**
 * [size description]
 * @type {[type]}
 */

$base-font-size:14;
$font-unit: if($relative-font-sizing, 1, $base-font-size);
/**
 * [Font Weights]
 * @type {Number}
 */

$font-weight-bold: 400;
$font-weight-semibold: 400;// only for the font Lobster
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 300;
$font-weight-thin: 100;
$body-font-weight:400;

/**
 * [Headers size]
 * @type {px}
 */

$h1:60;
$h2:36;
$h3:28;
$h4:22;
$h5:18;
$h6:14;
$p:14;

/**
 * font-weight
 */
$p-weight:$font-weight-medium;
$h-weight:$font-weight-regular;
$quote-weight:$font-weight-regular;
$btn-weight:$font-weight-light;
$nav-weight:$font-weight-medium;