/***********************************************************************************************/
/* HEADER */
/***********************************************************************************************/

header {
    width: 100%;
}
.dima-main {
    position: relative;
    float: none;
    display: block;
    width: auto;
    .dima-page-wrapper {
        margin-top: 20px;
        padding-bottom: 20px;
    }
}
//Revolution Slaid
article {
    &.revolution {
        position: relative;
    }
}
/* Container Title*/

.title_container {
    background: $title_con_bg;
    .topaz-line {
        margin-bottom: 0px;
    }
    .dima-section-cover {
        opacity: 0.8;
    }
    &.start-style {
        .page-section-content {
            padding: 70px 0;
        }
        h2 {
            margin-bottom: 0px;
            color: $title_con_color;
        }
        .dima-breadcrumbs {
            &.breadcrumbs-end {
                position: absolute;
                @include end(0);
                top: 50%;
                margin-top: -7px;
            }
            &.breadcrumbs-start {
                position: absolute;
                @include start(0);
                top: 50%;
                margin-top: -7px;
            }
            &.breadcrumbs-center {
                text-align: center;
            }
            z-index: 10;
            line-height: 15px;
            @include font-size(14, 14);
            color: $title_con_color;
            a {
                color: $title_con_color;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
.sep {
    padding: 0 5px;
}
.fixed_header {
    position: fixed;
    z-index: 100;
}
