// Fonts
$sidr-font-family: $font-family-base;
$sidr-font-size: 15px;

// Colors
$sidr-background : $content-bg-color;
$sidr-background-shadow-color : $body-bg-color;
$sidr-text-color: $header-font-color;
