.dima-navbar-wrap {
    .dima-navbar {
        &.dima-navbar-vertical {
            width: $navbar-vertical-w+px;
            position: fixed;
            left: 0;
            right: 0;
            height: 100%;            
            background: $navbar-vertical-bg;
            .vertical-content{
               padding: 0 30px; 

            }
            .logo {
                float: none;
                position: relative;
                z-index: 1;
                margin: 0 auto;
                height: auto;
                h1 {
                    text-align: center;
                }
            }
            nav {
                & > ul {
                    > li {
                        display: inline-block;
                        float: none;
                        width: 100%;
                        > a {
                            height: auto;
                            padding: 15px 0px !important;
                            text-align: center;
                            width: 100%;
                        }
                    }
                }
            }
            .dima-nav {
                float: none;
                text-align: center;
                padding: 40px 0;
                .sub-menu {
                    @include start($navbar-vertical-w - $navbar-vertical-border + px);
                    @include end(auto);
                    background: $navbar-vertical-bg;
                    top: -20px;
                    @if($global-direction == "ltr") {
                        @include box-shadow(0 3px 5px rgba(0, 0, 0, 0.25), inset 2px 0px 0px $theme-color);
                    }
                    @else {
                        @include box-shadow(0 3px 5px rgba(0, 0, 0, 0.25), inset -2px 0px 0px $theme-color);
                    }
                    .sub-menu {
                        @include start(100%);
                        @include end(auto);
                        @if($global-direction == "ltr") {
                            @include box-shadow(0 3px 5px rgba(0, 0, 0, 0.25), inset 2px 0px 0px $theme-color);
                        }
                        @else {
                            @include box-shadow(0 3px 5px rgba(0, 0, 0, 0.25), inset -2px 0px 0px $theme-color);
                        }
                    }
                }
                .menu-full-width {
                    position: relative;
                    .sub-menu {
                        min-width: 750px;
                        max-width: 750px;
                        @include start($navbar-vertical-w - $navbar-vertical-border + px);
                        top: -20px
                    }
                }
            }
            .header-vertical {
                >ul {
                    a {
                        color: $nav-text-color;
                        i {
                            color: $header-font-color;
                            @include font-size(18, 18);
                            @include margin-end(10px);
                        }
                    }
                }
                .social-media {
                    border-top: 1px solid $navbar-vertical-bordre-color;
                    padding-top: 20px;
                    margin-top: 20px;
                }
            }
            .logo {
                border-bottom: 1px solid $navbar-vertical-bordre-color;
                padding: 55px 0px;
                img {
                    padding: 0;
                }
            }
            .sub-icon > a:after {
                @if($global-direction == "rtl") {
                    content: '\f104' !important;
                }
                @else {
                    content: '\f105' !important;
                }
            }
        }
    }
}
.vertical-menu {
    .dima-main{
        @include margin-start($navbar-vertical-w+ px);
        @include margin-end(0);
    }
    &.vertical-menu-end {
        .dima-main, .top-footer, .dima-footer {
            @include margin-end($navbar-vertical-w+ px);
            @include margin-start(0);
        }
        .dima-navbar-vertical {
            @include start(auto !important);
        }
        .scroll-to-top {
            @include start(10px !important);
        }
        .dima-navbar.dima-navbar-vertical {
            .dima-nav {
                .sub-menu {
                    @include end($navbar-vertical-w - $navbar-vertical-border + px);
                    @include start(auto);
                    @if($global-direction == "ltr") {
                        @include box-shadow(0 3px 5px rgba(0, 0, 0, 0.25), inset -2px 0px 0px $theme-color);
                    }
                    @else {
                        @include box-shadow(0 3px 5px rgba(0, 0, 0, 0.25), inset 2px 0px 0px $theme-color);
                    }
                    a {
                        @include text_align_end();
                        i{
                            position: relative;
                            @include padding-end(0px);
                            @include padding-start(25px);
                            @include float-end();
                            top: 5px;
                        }
                    }
                    .sub-menu {
                        @include end(100%);
                        @include start(auto);
                    }
            }
            .menu-full-width {
                .menu-section 
                {
                    @include float-end();
                    h6 {
                        @include text_align_end();
                    }
                }
            }
        }

            .sub-icon > a:after {
                content: '\f104' !important;
                @include end(auto);
                @include start(40px);
            }
        }
        
    }

    ul.with-border li{
        border-color: $navbar-vertical-bordre-color;
    }
}
