.dima-navbar-wrap {
    .dima-navbar {
        &.dima-navbar-top {
            nav {
                position: relative;
                background: $nav-bg-color-top-style;
            }
            .logo {
                float: none;
                position: relative;
                z-index: 1;
                margin: 0 auto;
                padding: 30px 0;
                height: auto;
                h1 {
                    text-align: center;
                    height: auto;
                }
            }
            .dima-nav {
                float: none;
                text-align: center;
                >li {
                    display: inline-block;
                    float: none;
                    margin-bottom: -2px;
                    a {
                        &:hover {
                            color: $theme-color;
                        }
                    }
                }
                .sub-menu{
                    background: $nav-bg-color-top-style;
                }
                /*.menu-full-width {
                    .sub-menu {
                        top: $a-height *2 + px;
                    }
                }*/
            }
            &.fix_nav.fixed {
                .dima-nav, .dima-nav-end {
                    li.menu-full-width {
                        >.sub-menu {
                            top: $a-height-small*2 + px;
                        }
                    }
                }
            }
            .dima-btn-nav {
                margin: 10px 0;
                width: 53px;
                float: none;
            }
        }
    }
}
