/***********************************************************************************************/
/* Tags*/
/***********************************************************************************************/

.tags {
    a {
        display: inline-block;
        margin: 0 0 8px 0;
        @include margin-end(3px);
        @include margin-start(0);
        padding: 8px 10px;
        text-transform: capitalize;
        font-size: 12px !important;
        line-height: 100%;
        color: $body-text-color;
        background-color: $section-bg-color;
        @include transition(all .2s ease-in);
        &:hover {
            color: #fff;
            background-color: $theme-color;
        }
        i{
            @include margin-end(3px);
        }
    }
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 500;
    line-height: 2em;
    color: #FFFFFF;
    background: $title_con_bg;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}
