<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>Okab</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="stylesheet" data-them="" href="css/styles-blog-two-dark.css">

    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->

    <!-- Googl Font -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:100,400,600,700,300" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic" rel="stylesheet" type="text/css">

    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/favicon.png" type="image/x-icon" />

</head>


<body class="responsive " id="demo-blog-two">

<!-- LOADING -->
<div class="all_content">

    <!-- Dima-loading -->
    <div class="dima-loading">
        <span class="loading-top"></span>
        <span class="loading-bottom"></span>
        <span class="spin-2"><p>LOADING</p>
        </span><a href="#" class="load-close">X</a>
    </div>
    <!--! Dima-loading -->

    <!-- HEADER -->
    <header role="banner">
        <div class="dima-navbar-wrap">
            <div class="dima-navbar dima-navbar-top">
                <!-- LOGO -->
                <div class="logo">
                    <h1>
                        <a data-animated-link="fadeOut" href="demo-blog-two.html" title="PixelDima.com logo">
                            <span class="vertical-middle"></span>
                            <img src="images/logo_blog_2_dark.png" alt="PixelDima Logo" title="PixelDima">
                        </a>
                    </h1>
                </div>
                <!--! LOGO -->

                <!-- MENU -->
                <nav role="navigation" class="clearfix">
                    <div class="container">
                        <!-- NAVBAR BUTTON -->
                        <a class="dima-btn-nav" href="#"><i class="fa fa-bars"></i></a>
                        <!--! NAVBAR BUTTON -->

                        <ul class="dima-nav sf-menu">
                            <li class="sub-icon menu-full-width">
                                <a data-animated-link="fadeOut" href="#">Demos</a>
                                <ul class="sub-menu nav-menu container box-with-marge">
                                    <li>
                                        <div class="menu-section  di_1_of_4 first">
                                            <ul>
                                                <li><a data-animated-link="fadeOut" href="index.html">Default</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="demo-blog-one.html">Blog Style 1</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="demo-blog-two.html">Blog Style 2</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="demo-blog-three.html">Blog Style 3 (Full)</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="demo-blog-three-mini.html">Blog Style 3 (Mini)</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="demo-portfolio.html">Portfolio</a>
                                                </li>

                                                <li><a data-animated-link="fadeOut" href="demo-photographer-work.html">Photography Work</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="demo-photographer-gallery.html">Photography Gallery</a>
                                                </li>

                                            </ul>
                                        </div>

                                        <div class="menu-section  di_1_of_4">
                                            <ul>
                                                <li><a data-animated-link="fadeOut" href="demo-photographer-slider.html">Photography Full Screen</a>
                                                </li>

                                                <li><a data-animated-link="fadeOut" href="demo-onepage.html">One Page</a>
                                                </li>

                                                <li><a data-animated-link="fadeOut" href="demo-landing-page-ios.html">App Landing Page (IOS)</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="demo-landing-page-android.html">App Landing Page (Android)</a>
                                                </li>

                                                <li><a data-animated-link="fadeOut" href="demo-green.html">Green</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="demo-ecommerce.html">Shop</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="demo-flat.html">FLAT  <span class="label dima-alert-error ">NEW</span> </a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="demo-restaurant.html">Restaurant <span class="label dima-alert-error ">NEW</span></a>
                                                </li>

                                            </ul>
                                        </div>
                                        <div class="menu-section  di_1_of_4">
                                            <ul>
                                                <li><a data-animated-link="fadeOut" href="demo-restaurant-onepage.html">Restaurant (One Page 1)</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="demo-restaurant-onepage-two.html">Restaurant (One Page 2) </a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="restaurant-menu.html">Restaurant Menu <span class="label dima-alert-error ">NEW</span></a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="demo-onepage-dark.html">One page (Dark) </a>
                                                </li>

                                                <li><a data-animated-link="fadeOut" href="demo-green-dark.html">Green (Dark) </a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="demo-portfolio-dark.html">Portfolio (Dark) </a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="demo-blog-one-dark.html">Blog Style 1 (Dark) </a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="demo-blog-two-dark.html">Blog Style 2 (Dark) </a>
                                                </li>

                                            </ul>
                                        </div>
                                        <div class="menu-section  di_1_of_4">
                                            <ul>
                                                <li><a data-animated-link="fadeOut" href="demo-blog-three-dark.html">Blog Style 3 (Full & Dark)</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="demo-blog-three-mini-dark.html">Blog Style 3 (Mini & Dark)</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="demo-rtl.html">One page (RTL) </a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="demo-portfolio-rtl.html">Portfolio (RTL)</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="demo-restaurant-onepage-rtl.html">Restaurant (RTL 1) </a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="demo-restaurant-onepage-two-rtl.html">Restaurant (RTL 2) </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="sub-icon">
                                <a data-animated-link="fadeOut" href="#">Blog</a>
                                <ul class="sub-menu nav-menu sf-menu">
                                    <li class="sub-icon">
                                        <a data-animated-link="fadeOut" href="#">Blog Posts</a>
                                        <ul class="sub-menu">
                                            <li><a data-animated-link="fadeOut" href="blog-left-sidebar.html">Posts Left Sidebar</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="blog-right-sidebar.html">Posts Right Sidebar</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="blog-full-posts.html">Posts Full</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="blog-mini-posts.html">Posts Mini</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="sub-icon">
                                        <a data-animated-link="fadeOut" href="#">Blog Masonry</a>
                                        <ul class="sub-menu">
                                            <li><a data-animated-link="fadeOut" href="blog-masonry-2clm.html">Masonry 2 Columns </a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="blog-masonry-3clm.html">Masonry 3 Columns </a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="blog-masonry-4clm.html">Masonry 4 Columns  </a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="blog-masonry-4clm-full.html">Masonry 4 Columns Full </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="sub-icon">
                                        <a data-animated-link="fadeOut" href="#">Blog Single Post</a>
                                        <ul class="sub-menu">
                                            <li><a data-animated-link="fadeOut" href="single-post-left-sidebar.html">Single Post Left Sidebar</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="single-post-right-sidebar.html">Single Post Right Sidebar</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="blog-full-single-post.html">Single Post Full</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="blog-mini-single-post.html">Single Post Mini</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="blog-mini-single-post-full-image.html">Single Post Mini With Full Image</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a data-animated-link="fadeOut" href="blog-timeline.html">Blog Timeline</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sub-icon">
                                <a data-animated-link="fadeOut" href="#">Portfolio</a>
                                <ul class="sub-menu nav-menu sf-menu">
                                    <li class="sub-icon">
                                        <a data-animated-link="fadeOut" href="#">2 Columns</a>
                                        <ul class="sub-menu">
                                            <li><a data-animated-link="fadeOut" href="portfolio-2clm-margin.html">With Margin</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="portfolio-2clm-no-margin.html">Without Margin</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="sub-icon">
                                        <a data-animated-link="fadeOut" href="#">3 Columns</a>
                                        <ul class="sub-menu">
                                            <li><a data-animated-link="fadeOut" href="portfolio-3clm-margin.html">With Margin</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="portfolio-3clm-no-margin.html">Without Margin</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="portfolio-3clm-full-margin.html">Full With Margin</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="portfolio-3clm-full-no-margin.html">Full Without Margin</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="sub-icon">
                                        <a data-animated-link="fadeOut" href="#">4 Columns</a>
                                        <ul class="sub-menu">
                                            <li><a data-animated-link="fadeOut" href="portfolio-4clm-margin.html">With Margin</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="portfolio-4clm-no-margin.html">Without Margin</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="portfolio-4clm-full-margin.html">Full With Margin</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="portfolio-4clm-full-no-margin.html">Full Without Margin</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="sub-icon">
                                        <a data-animated-link="fadeOut" href="#">Masonry 2 Columns</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a data-animated-link="fadeOut" href="portfolio-2clm-masonry-margin.html">With Margin</a>
                                            </li>
                                            <li>
                                                <a data-animated-link="fadeOut" href="portfolio-2clm-masonry-no-margin.html">Without Margin</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="sub-icon">
                                        <a data-animated-link="fadeOut" href="#">Masonry 3 Columns</a>
                                        <ul class="sub-menu">
                                            <li><a data-animated-link="fadeOut" href="portfolio-3clm-masonry-margin.html">With Margin</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="portfolio-3clm-masonry-no-margin.html">Without Margin</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="portfolio-3clm-full-masonry-margin.html">Full With Margin</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="portfolio-3clm-full-masonry-no-margin.html">Full Without Margin</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="sub-icon">
                                        <a data-animated-link="fadeOut" href="#">Masonry 4 Columns</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a data-animated-link="fadeOut" href="portfolio-4clm-masonry-margin.html">With Margin</a>
                                            </li>
                                            <li>
                                                <a data-animated-link="fadeOut" href="portfolio-4clm-masonry-no-margin.html">Without Margin</a>
                                            </li>
                                            <li>
                                                <a data-animated-link="fadeOut" href="portfolio-4clm-full-masonry-margin.html">Full With Margin</a>
                                            </li>
                                            <li>
                                                <a data-animated-link="fadeOut" href="portfolio-4clm-full-masonry-no-margin.html">Full Without Margin</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="sub-icon">
                                        <a data-animated-link="fadeOut" href="#">Multi Columns</a>
                                        <ul class="sub-menu">
                                            <li>
                                                <a data-animated-link="fadeOut" href="portfolio-multi-clm-margin.html">With Margin</a>
                                            </li>
                                            <li>
                                                <a data-animated-link="fadeOut" href="portfolio-multi-clm-no-margin.html">Without Margin</a>
                                            </li>
                                            <li>
                                                <a data-animated-link="fadeOut" href="portfolio-multi-clm-full-margin.html">Full With Margin</a>
                                            </li>
                                            <li>
                                                <a data-animated-link="fadeOut" href="portfolio-multi-clm-full-no-margin.html">Full Without Margin</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a data-animated-link="fadeOut" href="ajax-portfolio.html">Ajax Portfolio</a>
                                    </li>
                                    <li><a data-animated-link="fadeOut" href="portfolio-infinite-scroll.html">Infinite Scroll Portfolio <span class="label dima-alert-error ">NEW</span></a>
                                    </li>
                                    <li class="sub-icon">
                                        <a data-animated-link="fadeOut" href="#">Single Project</a>
                                        <ul class="sub-menu">
                                            <li><a data-animated-link="fadeOut" href="single-project-v1.html">Single Project V1</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="single-project-v2.html">Single Project V2</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="single-project-video.html">Single Project Video</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="sub-icon menu-full-width">
                                <a data-animated-link="fadeOut" href="#">pages</a>
                                <ul class="sub-menu nav-menu container">
                                    <li>
                                        <div class="menu-section  di_1_of_4 first">
                                            <h6>EXAMPLES</h6>
                                            <ul>
                                                <li><a data-animated-link="fadeOut" href="about-me.html">About Me</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="about-us.html">About Us</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="author.html">Author</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="contact-us-v1.html">Contact Us 1</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="contact-us-v2.html">Contact Us 2</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="donation.html">Donation</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="menu-section  di_1_of_4">
                                            <h6>EXAMPLES</h6>
                                            <ul>
                                                <li><a data-animated-link="fadeOut" href="my-account.html">My Account</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="search.html">Search</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="services.html">Services</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="sitemap.html">Sitemap</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="team.html">Team</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="faq.html">FAQ</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="menu-section  di_1_of_4">
                                            <h6>GRIDS</h6>
                                            <ul>
                                                <li><a data-animated-link="fadeOut" href="left-sidebar.html">Left Sidebar</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="right-sidebar.html">Right Sidebar</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="both-sidebar.html">Both Sidebar</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="full-page.html">Full page</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="full-width-page.html">Full Width Page</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="menu-section  di_1_of_4">
                                            <h6>MISCELLANEOUS</h6>
                                            <ul>
                                                <li><a data-animated-link="fadeOut" href="blank-page.html">Blank Page</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="comming_soon.html">Comming Soon</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="maintenance.html">Maintenance</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="boxed-page.html">Boxed Page</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="404.html">404</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="tutorial.html">Video Tutorial  <span class="label dima-alert-error ">NEW</span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="sub-icon menu-full-width">
                                <a data-animated-link="fadeOut" href="#">shortcodes</a>
                                <ul class="sub-menu nav-menu container">
                                    <li>
                                        <div class="menu-section  di_1_of_4 first">
                                            <ul>
                                                <li><a data-animated-link="fadeOut" href="alert.html"><i class="fa fa-bell"></i>Alerts</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="accordion.html"><i class="fa fa-toggle-on"></i>Accordion</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="buttons.html"><i class="fa fa-circle"></i>Buttons</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="call-to-action.html"><i class="fa fa-bullhorn"></i>Call To Action</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="clients.html"><i class="fa fa-user"></i>Clients</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="code-and-gap.html"><i class="fa fa-code"></i>Code & Gap</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="counters.html"><i class="fa fa-sort-numeric-asc"></i>Counters</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="dividers.html"><i class="fa fa-crop "></i>Dividers</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="menu-section  di_1_of_4">
                                            <ul>
                                                <li><a data-animated-link="fadeOut" href="drop-cap.html"><i class="fa fa-font "></i>Drop Caps</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="grids-percentage.html"><i class="fa fa-signal"></i>Grids Percentage</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="grids-pixel.html"><i class="fa fa-dedent "></i>Grids Pixel</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="forms.html"><i class="fa fa-envelope"></i>Forms</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="heading-and-text.html"><i class="fa fa-text-height "></i>Heading and Text</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="hover.html"><i class="fa fa-hand-o-up "></i>Hover</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="iconbox.html"><i class="fa fa-inbox "></i>Iconbox <span class="label dima-alert-error ">NEW</span></a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="icons.html"><i class="fa fa-heart"></i>Icons</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="menu-section  di_1_of_4">
                                            <ul>
                                                <li><a data-animated-link="fadeOut" href="lightbox.html"><i class="fa  fa-expand"></i>Lightbox</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="lists.html"><i class="fa fa-list-ol "></i>Lists</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="maps.html"><i class="fa fa-map-marker"></i>Maps</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="media-embeds.html"><i class="fa  fa-desktop "></i>Media Embeds</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="pagination.html"><i class="fa fa-slack "></i>Pagination</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="progress.html"><i class="fa fa-circle-o-notch"></i>Progress</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="quotes.html"><i class="fa fa-quote-right"></i>Quotes</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="sections.html"><i class="fa fa-th-list"></i>Sections <span class="label dima-alert-error ">NEW</span></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="menu-section  di_1_of_4">
                                            <ul>
                                                <li><a data-animated-link="fadeOut" href="slider.html"><i class="fa fa-sliders"></i>Slider</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="social-icons.html"><i class="fa fa-smile-o"></i>Social Icons</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="tables-and-prices.html"><i class="fa fa-table"></i>Tables & Prices</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="tabs.html"><i class="fa fa-navicon"></i>Tabs</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="tags-and-labels.html"><i class="fa fa-tags"></i>Tags & Labels</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="testimonials.html"><i class="fa fa-comments"></i>Testimonials</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="timeline.html"><i class="fa fa-sort-amount-desc"></i>Timeline</a>
                                                </li>
                                                <li><a data-animated-link="fadeOut" href="tips-and-marks.html"><i class="fa fa-ticket "></i>Tips & Marks</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>

                                </ul>
                            </li>
                            <li class="sub-icon">
                                <a data-animated-link="fadeOut" href="#">shop</a>
                                <ul class="sub-menu nav-menu sf-menu">
                                    <li><a data-animated-link="fadeOut" href="demo-ecommerce.html">Home</a>
                                    </li>
                                    <li class="sub-icon">
                                        <a data-animated-link="fadeOut" href="shop-2clm-left-sidebar.html">2 Columns</a>
                                        <ul class="sub-menu">
                                            <li><a data-animated-link="fadeOut" href="shop-2clm-left-sidebar.html">2 Columns Left Sidebar</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="shop-2clm-right-sidebar.html">2 Columns Right Sidebar</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="sub-icon">
                                        <a data-animated-link="fadeOut" href="shop-3clm-full.html">3 Columns</a>
                                        <ul class="sub-menu">
                                            <li><a data-animated-link="fadeOut" href="shop-3clm-full.html">3 Columns Full</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="shop-3clm-left-sidebar.html">3 Columns Left Sidebar</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="shop-3clm-right-sidebar.html">3 Columns Right Sidebar</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a data-animated-link="fadeOut" href="shop-4clm-full.html">4 Columns</a>
                                    </li>
                                    <li class="sub-icon">
                                        <a data-animated-link="fadeOut" href="shop-list-full.html">List</a>
                                        <ul class="sub-menu">
                                            <li><a data-animated-link="fadeOut" href="shop-list-left-sidebar.html">List Left Sidebar</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="shop-list-right-sidebar.html">List Right Sidebar</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="shop-list-full.html">List Full</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="sub-icon">
                                        <a data-animated-link="fadeOut" href="hop-product-detail-left-sidebar.html">Product Details</a>
                                        <ul class="sub-menu">
                                            <li><a data-animated-link="fadeOut" href="shop-product-detail-left-sidebar.html">Product Detail Left Sidebar</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="shop-product-detail-right-sidebar.html">Product Detail Right Sidebar</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a data-animated-link="fadeOut" href="cart.html">Cart</a>
                                    </li>
                                    <li><a data-animated-link="fadeOut" href="wishlist.html">Wishlist</a>
                                    </li>
                                    <li><a data-animated-link="fadeOut" href="checkout.html">Checkout</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="sub-icon">
                                <a data-animated-link="fadeOut" href="#">Layout</a>
                                <ul class="sub-menu nav-menu sf-menu">
                                    <li class="sub-icon">
                                        <a data-animated-link="fadeOut" href="widgets.html">Widgets</a>
                                        <ul class="sub-menu">
                                            <li><a data-animated-link="fadeOut" href="widgets.html">Advertisements</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="widgets.html">Author</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="widgets.html">Categories</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="widgets.html">Contact us</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="widgets.html">Flickr </a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="widgets.html">Subscribe</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="widgets.html">Instagram</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="widgets.html">New Products</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="widgets.html">Price Range</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="widgets.html">Search </a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="widgets.html">Send Message</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="widgets.html">Social Sharing</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="widgets.html">Tabs</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="widgets.html">Tags</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="widgets.html">Testimonials</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="widgets.html">Twitter</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="widgets.html">Works</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="sub-icon">
                                        <a data-animated-link="fadeOut" href="widgets.html">Footers</a>
                                        <ul class="sub-menu">
                                            <li><a data-animated-link="fadeOut" href="footer.html#footer_1">Footer Layout 1</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="footer.html#footer_2">Footer Layout 2</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="footer.html#footer_3">Footer Layout 3</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="footer.html#footer_4">Footer Layout 4</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="footer.html#footer_5">Footer Layout 5</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="footer.html#footer_6">Footer Layout 6</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="footer.html#footer_7">Footer Layout 7</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="sub-icon">
                                        <a data-animated-link="fadeOut" href="widgets.html">Header</a>
                                        <ul class="sub-menu">
                                            <li><a data-animated-link="fadeOut" href="index.html">Defaults Header</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="demo-onepage.html">Bottom Header</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="right-header.html">Right Side Header</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="left-header.html">Left Side Header</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="demo-landing-page-ios.html">Transparent Header</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="sub-icon">
                                        <a data-animated-link="fadeOut" href="widgets.html">Menu</a>
                                        <ul class="sub-menu">
                                            <li><a data-animated-link="fadeOut" href="index.html">Mega Menu</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="top-menu-fixed.html">Static Menu</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="fixed-menu.html">Sticky Menu</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="fadeindown-menu.html">Fade In Down Menu</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="onepage-full-menu.html">Full Width Menu <span class="label dima-alert-error ">NEW</span></a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="nav-center.html">Centred Logo Menu</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="nav-top.html">Top Centred Logo Menu</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="left-menu.html">Left Side Menu</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="right-menu.html">Right Side Menu</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="demo-green.html">Donate Menu</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="demo-ecommerce.html">eCommerce Menu</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="sub-icon">
                                        <a data-animated-link="fadeOut" href="widgets.html">Page Titles</a>
                                        <ul class="sub-menu">
                                            <li><a data-animated-link="fadeOut" href="left-align-solid.html">Left align Solid</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="left-align-image.html">Left align Parallax Image</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="center-align-solid.html">Center align Solid</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="center-align-image.html">Center align Parallax Image</a>
                                            </li>
                                            <li><a data-animated-link="fadeOut" href="demo-portfolio.html">Light</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </div>
                </nav>
                <!--! MENU -->

                <!-- SEARCH BOX -->
                <div id="search-box">
                    <div class="container">
                        <form>
                            <input type="text" placeholder="Start Typing...">
                        </form>
                        <div id="close">
                            <a data-animated-link="fadeOut" href="#">
                                <i class="di-close"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!--! SEARCH BOX -->
                <div class="dima"></div>
            </div>
        </div>

    </header>
    <!--! HEADER -->

    <!-- ALL CONTENTS -->
    <div class="dima-main">

        <!-- SECTION -->
        <section class="section " id="features">
            <div class="page-section-content boxed-blog blog-list">
                <div class="container blog">

                    <div class="offset-by-1 main cl_10">

                        <!-- DEFAULT POST -->
                        <article role="article" class="post ">
                            <div class="post-img ">
                                <img src="images/posts/my-post-1-2.jpg" alt="Brand Consulting">
                                <div class="link_overlay  ">
                                    <ul class="icons-media">
                                        <li><a data-animated-link="fadeOut" href="#"><i class="fa fa-link"></i></a>
                                        </li>
                                    </ul>
                                    <span class="topaz-hover"></span>
                                </div>
                            </div>
                            <div class="post-meta box">
                                <ul>
                                    <li class="post-on">Posted by Admin on 09 Sept 2014</li>
                                    <li class="post-view"><i class="fa fa-eye"></i> 122 Views</li>
                                    <li class="post-comments"><i class="fa fa-comments"></i> 12 Comments</li>
                                </ul>
                            </div>
                            <div class="post-content text-start box">
                                <h4><a data-animated-link="fadeOut" href="#">Psychology in Branding</a>
                                </h4>
                                <p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris...</p>
                            </div>
                        </article>
                        <!--! DEFAULT POST -->

                    </div>
                </div>
            </div>
        </section>
        <!--! SECTION -->

    </div>
    <!--! ALL CONTENTS -->

    <!-- FOOTER -->
    <footer role="contentinfo" class="top-footer landing-footer">
        <div class="container page-section text-center">

            <!-- SOCIAL ICONS -->
            <div class="social-media dima-social-footer social-medium">
                <ul class="inline whait-border clearfix">
                    <li><a data-animated-link="fadeOut" href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a data-animated-link="fadeOut" href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a data-animated-link="fadeOut" href="#"><i class="fa fa-google-plus"></i></a>
                    </li>
                    <li><a data-animated-link="fadeOut" href="#"><i class="fa fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
            <!--! SOCIAL ICONS -->

            <div class="double-clear"></div>

            <!-- COPYRIGHT -->
            <div class="copyright undertitle ">
                <p class="undertitle ">© 2015 Okab. Created by
                    <a data-animated-link="fadeOut" href="http://themeforest.net/user/PixelDima" target="_blank">PixelDima</a>
                </p>
            </div>
            <!--! COPYRIGHT -->

        </div>
    </footer>

    <!-- 1)Important in all pages -->
    <script src="js/core/jquery-2.1.1.min.js"></script>
    <!--
<script src="http://ajax.googleapis.com/ajax/module/jquery/2.1.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/module/jquery-2.1.1.min.js"><\/script>')</script>
-->
    <script src="js/core/load.js"></script>
    <script src="js/core/jquery.easing.1.3.js"></script>
    <script src="js/core/modernizr-2.8.2.min.js"></script>
    <script src="js/core/imagesloaded.pkgd.min.js"></script>
    <script src="js/core/respond.src.js"></script>

    <script src="js/libs.min.js"></script>
    <!-- ALL THIS FILES CAN BE REPLACE WITH ONE FILE libs.min.js -->
    <!--
<script src="js/module/waypoints.min.js"></script>
<script src="js/module/SmoothScroll.js"></script>
<script src="js/module/skrollr.js"></script>
<script src="js/module/sly.min.js"></script>
<script src="js/module/perfect-scrollbar.js"></script>
<script src="js/module/retina.min.js"></script>
<script src="js/module/jquery.localScroll.min.js"></script>
<script src="js/module/jquery.scrollTo-min.js"></script>
<script src="js/module/jquery.nav.js"></script>
<script src="js/module/hoverIntent.js"></script>
<script src="js/module/superfish.js"></script>
<script src="js/module/jquery.placeholder.js"></script>
<script src="js/module/countUp.js"></script>
<script src="js/module/isotope.pkgd.min.js"></script>
<script src="js/module/jquery.flatshadow.js"></script>
<script src="js/module/jquery.knob.js"></script>
<script src="js/module/jflickrfeed.min.js"></script>
<script src="js/module/instagram.min.js"></script>
<script src="js/module/jquery.tweet.js"></script>
<script src="js/module/bootstrap.min.js"></script>
<script src="js/module/bootstrap-transition.js"></script>
<script src="js/module/responsive.tab.js"></script>
<script src="js/module/jquery.magnific-popup.min.js"></script>
<script src="js/module/jquery.validate.min.js"></script>
<script src="js/module/owl.carousel.min.js"></script>
<script src="js/module/jquery.flexslider.js"></script>
<script src="js/module/jquery-ui.min.js"></script>
<script src="js/module/zoomsl-3.0.min.js"></script>
-->
    <!-- END -->

    <script src="js/specific/mediaelement/mediaelement-and-player.min.js"></script>
    <script src="js/specific/video.js"></script>
    <script src="js/specific/bigvideo.js"></script>

    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="js/specific/gmap3.min.js"></script>
    <script src="js/map.js"></script>

    <script type="text/javascript" src="js/specific/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="js/specific/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>

    <script src="js/main.js"></script>


    <!-- FOOTER -->

</div>
<!--! LOADING -->

</body>

</html>
