/***********************************************************************************************/
/* Callout Box*/
/***********************************************************************************************/

a {
    .dima-callout {
        color: $body-text-color;
    }
}
.dima-callout {
    overflow: hidden;
    position: relative;
    margin: 35px 0;
    border: 1px solid $border-color;
    padding: 30px;
    background-color: $body-bg-color;
    display: block;    
    @include transition(all .2s ease-in);
    z-index: 40;

    p {

        @include font-size(18, 30);
        font-weight: 300;
    }
    .button {
        margin-top: 35px;
        margin-bottom: 0;
        z-index: 50;
    }
}

.h-callout {
    position: relative;
    margin-top: 0;
    margin-bottom: 20px;
    @include font-size(36, 35);
    font-weight: $font-weight-bold;
    color: inherit;
}
.p-callout {
    position: relative;
    margin-bottom: 0px;
    color: inherit;
}
.b-callout {
    margin-top: 20px;
    @include float-end();
}
.hover-callout {
    &:hover {
        background: $theme-color;
        color: #FFF;
        border: 1px solid rgba(0, 0, 0, 0);
    }
}
.reverse-custom {
    background: $theme-color;
    color: #FFF;
}
.callout-custom-one {
    background: #ecf0f1;
    color: #34495e;
    border:none;
}
.callout-custom-two {
    background: #34495e;
    color: #ecf0f1;
    border:none;
}
