.box-square, .box-circle {
    &.full-bg {
        header {
            i {
                background: $theme-color;
                color: #FFFFFF;
                box-shadow: 0 0 0 1px $body-bg-color
            }
        }
    }
        header {
            i {
                text-align: center;
                @include box-shadow(0 0 0 1px $border-color);
                .topaz-border, .topaz-hover {
                    &:before, &:after {
                        top: 5px;
                        @include end(5px);
                        bottom: 5px;
                        @include start(5px);
                    }
                }
            }
        }
        &.box-circle {
            header {
                i {
                    @include border-radius(50%);
                    .topaz-hover:after, .topaz-hover:before {
                        border-radius: 50%;
                    }
                }
            }
        }
        &:hover {
            header {
                i {
                    background: $theme-color !important;
                    color: #FFF;
                    @include box-shadow(0 0 0 1px #FFF);
                }
                .topaz-hover:before, .topaz-hover:after {
                    opacity: 1;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                }
            }
        }
    }
    /*SERVERS BOX*/
    
    .services {
        header {
            margin-bottom: 18px;
            i {
                position: relative;
                color: $header-font-color;
                font-size: 65px;
                margin: 0 auto;
                margin-bottom: 35px;
                display: block;
                @include transition(all .2s ease-in);
            }
            @include headings() {
                margin-bottom: 0px;
            }
        }
        &:hover {
            i, h1, h2, h3 h4, h5, h6 {
                color: $theme-color;
            }
        }
        p {
            &.withpadding {
                padding: 0 9%;
            }
        }
    }
    /*Features BOX*/
    
    .features-box {
        text-align: center;
        padding: 50px 10px;
        @include box-shadow(0 0 0 1px $border-color);
        @include box-sizing(order-box);
        @include transition(all .1s ease-in);
        position: relative;
        header {
            i {
                color: $header-font-color;
                font-size: 58px;
                margin-bottom: 35px;
                display: block;
            }
        }
        .features-content {
            .features-title {
                margin-bottom: 13px;
            }
            p {
                padding: 0 40px;
            }
        }
        &:hover {
            @include box-shadow(none);
            background: $theme-color !important;
            p, .features-title, i {
                color: #FFF !important;
            }
        }
    }
    .features-start, .features-end {
        position: relative;
        &.small-flat {
            padding: 0px;
            header i {
                position: absolute;
                top: 0px;
                background: $theme-color;
                border: 1px solid $theme-color;
                color: #FFFFFF;
                border-radius: 80px;
                text-align: center;
                font-size: 32px;
                line-height: 64px;
                width: 64px;
                height: 64px;
            }
        }
        &.no-box {
            padding: 0px;
            header {
                i {
                    position: absolute;
                    top: 0px;
                    //background: $body-bg-color;
                    z-index: 10;
                }
            }
            &:hover {
                .features-title, i {
                    color: $theme-color;
                }
            }
        }
        padding:30px 20px;
        header {
            i {
                color: $header-font-color;
                font-size: 58px;
                margin-bottom: 35px;
                display: block;
                @include transition(all .2s ease-in);
            }
        }
        &.topaz-border, &.topaz-hover {
            &:before, &:after {
                top: 5px;
                @include end(5px);
                bottom: 5px;
                @include start(5px);
            }
        }
    }
    .features-end {
        &.no-box {
            header {
                i {
                    @include end(0px);
                }
            }
        }
        header {
            i {
                position: absolute;
                @include end(20px);
                top: 27px;
            }
        }
        &.small-flat {
            header i {
                @include end(0px);
            }
            .features-content {
                @include padding-end(94px);
            }
        }
        .features-content {
            @include padding-end(80px);
            .features-title {
                @include text-align-end();
            }
            p {
                @include text-align-end();
                padding: 0;
            }
        }
        &.box-square, &.box-circle {
            .features-content {
                @include padding-start(160px);
            }
        }
    }
    .features-start {
        &.no-box {
            i {
                @include start(0px);
            }
        }
        header {
            i {
                position: absolute;
                @include start(20px);
                top: 27px;
            }
        }
        &.small-flat {
            header i {
                @include start(0px);
            }
            .features-content {
                @include padding-start(94px);
            }
        }
        .features-content {
            @include padding-start(80px);
            .features-title {
                @include text-align-start();
            }
            p {
                @include text-align-start();
                padding: 0;
            }
        }
        &.box-square, &.box-circle {
            .features-content {
                @include padding-start(160px);
            }
            &:hover {
                i {
                    color: #FFF;
                    background: $theme-color;
                }
            }
        }
    }
    /***********************************************************************************************/
    /* CountUp*/
    /***********************************************************************************************/
    
    .countUp {
        border: 1px solid #fff;
        @include text_align_start();
        padding: 30px 20px;
        .number {
            font-weight: bold;
            display: inline-block;
            color: $theme-color;
            i {
                @include font-size(60, 60);
                color: #FFF;
            }
            span {
                @include font-size(36, 30);
                display: block;
                @include margin-start(70px);
                margin-top: -60px;
            }
        }
        .text {
            padding: 18px 0 0 0;
            @include font-size(14, 14);
            @include margin-start(74px);
            color: #FFFFFF;
        }
        &.no-border {
            border: none !important;
            padding: 0 20px;
            i {
                @include font-size(60, 60);
                color: $theme-color;
            }
            .number {
                color: #FFF;
            }
        }
        &.opposite {
            border: 1px solid $border-color;
            .text {
                color: $body-text-color
            }
            i {
                @include font-size(60, 60);
                color: $theme-color;
            }
            .number {
                color: $body-text-color;
            }
        }
    }
    /**
 * Icons Box Size
 */
    
    .icon-normal {
        @include margin-end(5px);
        color: $header-font-color;
        @include text_align_start;
        display: inline-block;
    }
    .icon-box-larg {
        width: 168px;
        height: 168px;
        font-size: 70px;
        line-height: 168px;
        margin-bottom: .5em;
    }
    .icon-box-medium {
        width: 125px;
        height: 125px;
        font-size: 50px;
        line-height: 125px;
        margin-bottom: .4em;
    }
    .icon-box-small {
        width: 64px;
        height: 64px;
        font-size: 30px;
        line-height: 64px;
        margin-bottom: .3em;
    }
    /***********************************************************************************************/
    /* CountUp !*/
    /***********************************************************************************************/
    /***********************************************************************************************/
    /* CountUp*/
    /***********************************************************************************************/
