/***********************************************************************************************/

/* Pricing Table*/

/***********************************************************************************************/

.dima-pricing-table {
    width: 100%;
    margin: 1.313em 0;
    @include float_start();

    .dima-pricing-col {
        &.pricing-style-two{
            li:nth-child(2n+1) {
              background-color: #f9f9f9;
            }
            .dima-pricing-col-info {
               background: #fff;
               padding: 30px 0px 0px 0px;
               ul{
                    li {
                     border-bottom: 1px solid $border-color;
                     &:first-child {
                       border-top: 1px solid $border-color;
                     }
                     &:nth-child(2n+1) {
                      background-color: $section-bg-color;
                     }
                     &:first-child {
                        padding: 10px 0;
                     }
                    }
                }
            }
        }

        &.pricing-style-three{
            .dima-pricing-col-info {
               background: $header-font-color;
               padding: 30px 0px 30px 0px;
               border: 1px solid $header-font-color;
               ul{
                    li {
                       border:none;   
                       color: #fff;                 
                    }
                }
                .button{
                    color: #fff;
                    border: 1px solid #fff;
                }
            }
            &.featured .button {
                    background: rgba(0,0,0,0) !important;
                    border-color: #FFF !important;
            }
        }


        &.box-shadow{
           .header {
             @include box-shadow(0 0 10px rgba(0, 0, 0, 0.125));
           }
           .dima-pricing-col-info {
             @include box-shadow(0 0 10px rgba(0, 0, 0, 0.125));
           }
        }

        @include float_start();
        text-align: center;
 		position: relative;
        
        &.featured {
             z-index: 99;
            .header {
                background: $theme-color;
                color: #fff;
                text-transform: uppercase;
                border: 1px solid $theme-color;
            } 
        }

        &.featured-larg {
            z-index: 99;
        	margin-top: -14px;
            .header {
                background: $theme-color;
                color: #fff;
                text-transform: uppercase;
                padding: 13.8% 5px;
                border: 1px solid $theme-color;
            }
            .dima-pricing-col-info{
                padding-bottom: 45px;
            }           
 
        }

        &.featured-larg,&.featured{
            .button{
                background: $theme-color ;
                border-color: $theme-color ;
                &:hover{
                    background-color: darken($theme-color,5%);
                    border-color:darken($theme-color,5%);
                }
            }   

        }

        .header {

        	position: relative;
            background-color: $pricing-header-bg;
            padding: 11.8% 5px;

            @if($border-radius!=0) {
               border-top-left-radius: $border-radius;
               border-top-right-radius: $border-radius;
            }

            margin: 0 ;
            margin-bottom: -1px;
            @include margin-start(-1px);
            letter-spacing: 0;

            h2 {
                margin-bottom: 18px;
                color: #fff;
                text-transform: uppercase;
                letter-spacing: 0;
                @include font-size(32, 35);
            }
            span {
                display: block;
                @include font-size(18, 15);
                color: #fff;
            }
        }


        &.dima-offers {
            margin: 0;
            @include border-start(none !important);
            .dima-pricing-col-info {
                border: none;
                margin-top: 136px;
                @include box-shadow(none);

            }
        }

        .dima-pricing-col-info {
            background: $pricing-body-bg;
            padding: 28px 30px;
            @if($border-radius!=0) {
               border-bottom-left-radius: $border-radius;
               border-bottom-right-radius: $border-radius;
            }
            margin: 0 ;
            margin-bottom: -1px;
            @include margin-start(-1px);            
            border: 1px solid $border-color;

            ul {
                padding-bottom: 30px;
                li {
                    padding: 10px 0;
                    @include font-size(14, 22);
                    border-bottom: 1px solid $pricing-separator-border;
                    &:first-child{
                        padding: 0px 40px 11px;
                    }
                }
            }
            .button{
            	text-transform:uppercase;
            	margin-bottom: 0;
                -webkit-backface-visibility: hidden;                
            }
        }
    }

}

.rating {
    font-family: $FontAwesome;
    overflow: hidden;
    span {
        display: inline !important;
        @include margin-end(2px);
        &:last-child{
            @include margin-end(0px);  
        } 
    }

    span:before {
        content:"\f005";
        color: $theme-color;
        @include font-size(18, 18);
    }
    &.undertitle {
        span: before {
            color: #FFF;
        }
    }
    span.star:before {
        content:"\f006";
        color: $theme-color;
    }
    span.half-star:before {
        content:"\f123";
        color: $theme-color;
    }
    &.undertitle {
        span.star:before {
            color: #FFF;
        }
    }
}



