/***********************************************************************************************/
/* Blog Author*/
/***********************************************************************************************/

.dima-author-box {
    margin-bottom: 30px;
    .dima-about-the-author {} .dima-about-image {
        position: relative;
        @extend .start-image;
        @include margin-end(30px);
        margin-top: 0px;
        @include box-shadow(0 0px 0 2px $border-color);
        img {
            width: 120px;
            height: 120px;
        }
    }
    .dima-author-info {
        overflow: hidden;
        .dima-author-name {
            text-transform: uppercase;
        }
        p {
            margin-bottom: 10px;
        }
    }
}

//5: #Mobile (Landscape and ) ================================================== 
@media only screen and (max-width: $MobileLandscapeMax) {
    .dima-author-box {
        .dima-about-the-author {} .dima-about-image {
            @include margin-end(20px);
            margin-top: 0px;
            margin-bottom: 10px;
            img {
                width: 60px;
                height: 60px;
            }
        }
        .dima-author-info {
            overflow: initial;
        }
    }
}
