/***********************************************************************************************/

/* Blog Comments*/

/***********************************************************************************************/

.dima-comments-list,.dima-reviews-list {
    /*comment header*/
    .h-comment {
        @include text_align_start();
        text-transform: uppercase;
        padding: 0 0 30px 0;
        margin-bottom: 0px;
        span {
            background: $body-bg-color;
            display: inline-block;
            position: relative;
            z-index: 3;
            @include padding-end(10px);
            small {
                @include font-size(18, 18);
            }
        }
    }
    /*comment content*/
    .dima-comment {
        .content-comment {
            padding: 30px 0px;
            overflow: hidden;
        }
        li {
            border-top: 1px solid lighten($border-color, 17%);
            .dima-comment-img {
                @extend .start-image;
                border: 2px solid  $border-color;
                img {
                    width: 80px !important;
                    height: 80px !important;
                }
            }
            .comment-content {
                p {
                    margin-bottom: 0;
                }
            }
            .dima-comment-entry {
                position: relative;
                overflow: hidden;
                ul.user-comment-titel {
                		width: 100%;
                    margin-bottom: 10px;
                    display: inline-block;
                    li {
                        border: none;
                        display: inline-block;
                    }
                    h6 {
                        text-transform: uppercase;
                        @include margin-end(30px);
                        margin-bottom: 0;
                        font-weight: bold;
                    }
                }
            }
            .children {
                @include margin-start(89px);
                list-style: none;
                li {
                    &:last-child {
                        padding-bottom: 0px;
                    }
                }
            }
            .reply-form {
                a {
                    margin-bottom: 10px;
                    @include font-size(14, 14);
                    display: block;
                }
            }
            
        }
        >li {
        	&:last-child{
            	margin-bottom: 70px;
            }
        }
    }    
}

.leave-reply {
   text-transform: uppercase;
   margin-bottom: 30px;
 }
//--------------------------------------------
@media only screen and (max-width: $MobileLandscapeMax) {
    .dima-comments-list .dima-comment li {
        .children, .dima-comment-entry {
            margin: 0;
        }
        .dima-comment-entry header .comment-time {
            display: block;
            float: none;
            font-size: 12px;
        }
        .dima-comment-img img {
            width: 60px !important;
            height: 60px !important;
        }
    }
}
