    /*
     *
     *1:Desktop - Extra Large
     *2:Desktop - Large
     *3:Tablet  - Portrait
     *4:Mobile  - Portrait
     *5:Mobile  - Landscape
     *6:Mobile - Portrait & Landscape
     *7:Tablet & Mobile - Portrait & Landscape
     *
     */
     

    /*1: #Desktop - Extra Large====================================*/
    
    @media only screen and (min-width: $DesktopExtraLarge) {
        @include hide-on(EL);
        @include visible-on(EL);
    }
    /*!1: #Desktop - Extra Large====================================*/
    /*2: #Desktop - Large=======================================*/
    
    @media only screen and (min-width: $DesktopLarge) {
        @include hide-on(L);
        @include visible-on(L);
    }
    
    /*!2: #Desktop - Large=======================================*/
    /*3: #Tablet (Portrait)==============*/
    
    @media only screen and (min-width: $TabletPortraitMin) and (max-width: $TabletPortraitMax) {
        @include hide-on(TP);
        @include visible-on(TP);
        //--->Protfolio        
        .isotope-item {
            .link_overlay:hover .work-info {
                bottom: 6%;
            }
        }
        .with-margin{
            .isotope-item {
               padding: 0 0.7% 10px 0.7% !important;
            }
        }
        /*Pricing Table*/
        
        div {
            &.di_1_of_4 {
                width: 48.5%;
            }
            &.di_1_of_4:nth-child(4n+3) {
                margin-top: 30px;
                @include margin-start(0);
            }
            &.di_1_of_4:nth-child(4n) {
                margin-top: 30px;
            }
        }
        //--->Protfolio        
        .page-section-content .page-section.app {
            margin-bottom: 80px;
        }
        //services
        .services p {
            padding: 0px !important;
        }
        //IconBox
        .no-box.box-square header i, .box-circle header i {
            width: 85px;
            height: 85px;
            font-size: 45px;
            line-height: 85px;
        }
        .no-box.features-start.box-square .features-content, .features-start.box-circle .features-content {
            @include padding-start(110px);
        }
        .no-box.features-end.box-square .features-content, .features-end.box-circle .features-content {
            @include padding-end(110px);
        }
        //TimeLine
        .dima-timeline {
            &.dima-timeline-blog {
                .post-meta ul li.post-comments, .post-meta ul li.post-view {
                    display: none;
                }
            }
        }
    }
    /*3: #Tablet (Portrait)==============*/
    /*4: #Mobile (Portrait)==============*/
    
    @media only screen and (max-width: $MobilePortrait) {
        @include hide-on(MP);
        @include visible-on(MP);
        //--->MENU
        .dima-tab-nav {
            li {
                width: 100%;
                border-bottom: none !important;
                &.active {
                    border-right-color: $tab-nav-border-color !important;
                    border-left-color: $tab-nav-border-color !important;
                }
                &:last-child {
                    border-bottom: 1px solid $border-color !important;
                }
            }
            &.right, &.left {
                width: 100%;
                li {
                    margin-bottom: 0px;
                }
                &.active {
                    border-right-color: $tab-nav-border-color !important;
                    border-left-color: $tab-nav-border-color !important;
                }
            }
        }
        //--->!MENU  
        .related-posts {
            .related-entry-media {
                @include float_start();
                width: 25%;
            }
            .related-entry-content {
                @include float_end();
                width: 73%;
            }
        }
        .boxed-blog .post-meta ul li.post-comments, .boxed-blog .post-meta ul li.post-view {
            display: none;
        }
        .boxed-blog .post-meta ul {
            text-align: center;
        }
        .boxed-blog .post-meta ul li.post-on {
            float: none;
        }
        .dima-nav-end {
            li {
                &:first-child {
                    display: none;
                }
            }
        }
        .vertical-menu .container {
            width: 100%;
            padding: 0 10px;
        }

        .filters-box.filters ul li {
            display: inline-block;
            float: left;
            width: 47%;
        }
        .last-menu .attachment-menu{
            margin: 0 auto;
            float: none;
            display: block;
            margin-bottom: 30px;
        }
    }
    /*!4: #Mobile (Portrait)==============*/
    /*5: #Mobile (Landscape) =================*/
    
    @media only screen and (min-width: $MobileLandscapeMin) and (max-width: $MobileLandscapeMax) {
        @include hide-on(ML);
        @include visible-on(ML);
        .filters-box.filters ul li {
            display: inline-block;
            float: left;
            width: 31%;
        }
    }
    /*!5: #Mobile (Landscape) =================*/
    /*6: #Mobile (Landscape & Portrait) =================*/
    
    @media only screen and (max-width: $MobileLandscapeMax) {
        @include hide-on(M);
        @include visible-on(M);
        html {
            font-size: 85%;
        }
        .hide-on-m {
            display: none !important;
        }
        //Title Container
        .title_container {
            h2 {
                text-align: center;
            }
            .page-section-content {
                padding: 50px 0;
            }
            &.start-style {
                .dima-breadcrumbs {
                    margin-top: 20px;
                    text-align: center;
                    width: 100%;
                }
                .page-section-content {
                    padding: 30px 0 50px 0 !important;
                }
            }
        }
        //**//
        .page-section-content {
            padding: $section-padding-mini 0;
        }
        .in-bottom-relative {
            margin-bottom: -($section-padding-mini) !important;
        }
        //Icon Box
        .no-box.box-square header i, .box-circle header i {
            width: 80px;
            height: 80px;
            font-size: 35px;
            line-height: 80px;
        }
        .no-box.features-start.box-square .features-content, .features-start.box-circle .features-content {
            @include padding-start(90px);
        }
        .no-box.features-end.box-square .features-content, .features-end.box-circle .features-content {
            @include padding-end(90px);
        }
        //TimeLine
        .dima-timeline-list li:before {
            @include start(32.5px);
            padding-top: 65px;
        }
        .dima-timeline {
            .timeline_element-content {
                float: none;
                margin: 30px 0px;
                width: 100%;
                &:after, &:before {
                    display: none;
                }
            }
            .timeline_element-left {
                .date {
                    position: absolute;
                    top: 25px;
                    @include start(0%);
                    @include margin-start(0%);
                }
                .post {
                    @include margin-end(0%);
                    ;
                    @include margin-start(0%);
                }
            }
            .timeline_element-right {
                .date {
                    position: absolute;
                    top: 25px;
                    @include end(0%);
                    @include margin-start(0%);
                }
                .post {
                    @include margin-end(0%);
                    ;
                    @include margin-start(0%);
                }
            }
        }
        .dima-timeline.dima-timeline-blog .timeline_element-left, .dima-timeline.dima-timeline-blog .timeline_element-right {
            width: 100%;
            margin-top: 0px;
            .post {
                @include margin-end(0%);
                ;
                @include margin-start(0%);
            }
        }
        .dima-timeline.dima-timeline-blog .timeline_element-content:before {
            display: none;
        }
        .dima-timeline.dima-timeline-blog .timeline_element-content:after {
            display: none;
        }
        .download {
            @include margin-end(0px !important);
        }
    }
    /*!6: #Mobile (Landscape & Portrait) =================*/
    /*7: #Mobile & Tablat (Portrait & Landscape) =================*/
    
    @media only screen and (max-width: $TabletPortraitMax) {
        @include hide-on(TM);
        @include visible-on(TM);
        html {
            font-size: 90%;
        }
        .hide-on-mt {
            display: none !important;
        }
        .topaz-line {
            margin-top: 25px 0;
        }
        .clear-section {
            padding-bottom: 50px;
        }
        /*-Google Map-*/
        
        .google-maps {
            height: 300px;
        }
        .title_container {
            &.start-style {
                h2 {
                    text-align: center;
                }
                .dima-breadcrumbs {
                    margin-top: 20px;
                    text-align: center;
                    width: 100%;
                }
                .page-section-content {
                    padding: 50px 0 70px 0;
                }
            }
        }
        .countUp {
            position: relative;
            margin-bottom: 30px;
        }
        /*Headen*/
        
        h1 {
            @include font-size(40, 36);
        }
        h2 {
            @include font-size(25, 36);
        }
        h3 {} h4 {} h5 {
            @include font-size(15, 18);
        }
        /*Icon box*/
        
        .margin-bottom li {
            margin-bottom: 30px !important;
        }
        .features-box {
            &.features-start, &.features-end {
                padding: 20px 15px;
                header {
                    i {
                        display: none;
                    }
                    h4 {
                        @include padding-end(0%);
                        ;
                        @include padding-start(0%);
                    }
                }
                p {
                    @include padding-end(0%);
                    ;
                    @include padding-start(0%);
                }
            }
            &.features-end {} &.features-start {}
        }
        //IconBox
        .features-end .features-content, .features-start .features-content {
            @include padding-end(0);
            @include padding-start(0);
        }
        .features-start.no-box header i, .features-end.no-box header i {
            display: none;
        }
        .box-square, .box-circle {
            &.features-start.no-box header i, &.features-end.no-box header i {
                display: block;
            }
        }
        //TABS
        .dima-tabs.responsive-tab .dima-tab-nav {
            overflow: hidden;
            ul {
                margin: 0;
            }
            li {
                @include box-sizing(border-box);
                display: inline-block;
                width: 100%;
                height: 44px;
                line-height: 44px;
                padding: 0 15px;
                border: 1px solid $tab-nav-border-color;
                overflow: hidden;
                a {
                    border-style: none;
                    display: inline-block;
                    margin: 0;
                    padding: 0;
                    &:hover {
                        border-style: none;
                        background-color: transparent;
                    }
                    &:active {
                        border-style: none;
                    }
                }
            }
            .active > a, .active > a:hover {
                border-style: none;
            }
        }
        .dima-tabs.responsive-tab {
            .dima-tab-nav.float-start, .dima-tab-nav.float-end, .dima-tab-content.float-end, .dima-tab-content.float-start {
                width: 100%;
            }
        }
        .dima-tab-content.float-end {
            @include start(0);
        }
        .dima-tab-content.float-start {
            @include end(0);
        }
        .main {
            width: 100% !important;
            margin-right: 0px !important;
            margin-left: 0px !important;
        }       
       
        //***//
        .social-media { figure
            li {
                margin-bottom: 10px;
            }
        }
        //Pricing table
        .dima-pricing-table .dima-pricing-col.di_1_of_4.featured-larg {
            margin-top: 30px !important;
        }
        .nav-slit {
            a.prev, a.next {
                display: none;
            }
        }
        .dima-center-full {
            text-align: center;
            width: 100% !important;
        }

        .dima-full {
            clear: both;
            width: 100% !important;
        }
        .cart-table table tr td {
            padding: 30px 15px;
        }
        /**
         * estaurant demo
         */
        .products-list .dima-product.recipes .product-img,
        .products-list .dima-product.recipes .product-img figure{
            width: 100%
        }
        .products-list .dima-product.recipes .product-content{
            float: right;
        }


    }
    /*!7: #Mobile & Tablat (Landscape) =================*/
