<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">

    <url>
        <loc>{{ data.baseUrl }}/</loc>
        <lastmod>{{ data.generatedAt }}</lastmod>
        <changefreq>daily</changefreq>
        <priority>0.9z</priority>
    </url>

    {% for navLink in navLinks %}
    <url>
        <loc>{{ data.baseUrl }}{{ navLink.href }}</loc>
        <lastmod>{{ data.generatedAt }}</lastmod>
        <changefreq>{{ navLink.changefreq }}</changefreq>
        <priority>{{ navLink.priority }}</priority>
    </url>
    {% endfor %}

    <url>
        <loc>{{ data.baseUrl }}/sylvain-artois</loc>
        <lastmod>{{ data.generatedAt }}</lastmod>
        <changefreq>monthly</changefreq>
        <priority>0.5</priority>
    </url>
    <url>
        <loc>{{ data.baseUrl }}/dye-pop</loc>
        <lastmod>{{ data.generatedAt }}</lastmod>
        <changefreq>monthly</changefreq>
        <priority>0.5</priority>
    </url>
    <url>
        <loc>{{ data.baseUrl }}/contact</loc>
        <lastmod>{{ data.generatedAt }}</lastmod>
        <changefreq>monthly</changefreq>
        <priority>0.4</priority>
    </url>

    {% for post in data.posts %}
    <url>
        <loc>{{ data.baseUrl }}{{ post.url }}</loc>
        <lastmod>{{ post._.updatedAt.format('YYYY-MM-DDTHH:mm:ssZ') }}</lastmod>
        <changefreq>weekly</changefreq>
        <priority>0.8</priority>
    </url>
    {% endfor %}
</urlset>